---

---

<div id="about" class="aboutus">
    <div class="aboutus__title">
        <h2 class="aboutus__title-h2">¿QUIÉNES SOMOS?</h2>   
    </div>
    <article class="aboutus__container">
        <section class="aboutus__container-mision">
            <div class="aboutus__container-mision-title">
                <h3 class="aboutus__container-mision-title-h3">Nuestra misión</h3>
            </div>
            <p class="aboutus__container-mision-paragraph">Un equipo de mujeres desarrolladoras apasionadas por la tecnología, unidas por el deseo de crear soluciones digitales innovadoras. Trabajamos con negocios locales y creativos que buscan destacar en el entorno digital. Nuestro enfoque no es solo crear páginas web, sino diseñar experiencias que reflejen la identidad única de cada cliente.</p>
        </section>
        <section class="aboutus__container-compromise">
            <div class="aboutus__container-compromise-title">
                <h3 class="aboutus__container-compromise-title-h3">Nuestro compromiso</h3>
            </div>
            <p class="aboutus__container-compromise-paragraph">Nos especializamos en brindar una atención cercana y personalizada. Cada proyecto es una oportunidad para entender tus necesidades, aportando valor a través de un diseño atractivo, una funcionalidad eficiente y soluciones técnicas avanzadas.</p>
        </section>
    </article>
</div>