---
import Buttons from './Buttons/Buttons.astro';
import TitleSecondary from './Titles/TitleSecondary.astro';
---

<section class='buscas'>
  <div class='buscas__content'>
    <div class='buscas__content-heading'>
      <TitleSecondary
        text='¿Buscas algo diferente? Páginas web profesionales a medida'
        className='titleSecondary--white'
      />
    </div>
    <p class='buscas__content-text'>
      Cada negocio es único, y en ocasiones, las soluciones estándar no son suficientes. Si necesitas funciones
      específicas o tu idea se sale de lo habitual, en AstracodeLAB analizamos tu modelo de negocio y tus objetivos para
      diseñar soluciones digitales a medida. Construimos webs con funcionalidades personalizadas que se adaptan
      exactamente a tu forma de trabajar y te guían hacia la solución perfecta para tu proyecto.
    </p>
  </div>
  <div class='buscas__cta'>
    <div class='buscas__cta-heading'>
      <TitleSecondary className='titleSecondary--gradient' text='¿Tu idea no encaja en estos ejemplos?' />

      <p class='buscas__cta-text'>
        Cuéntanosla. Estaremos encantadas de escuchar tu proyecto y ofrecerte la ruta adecuada, aunque todavía no exista
        en nuestro catálogo.
      </p>
    </div>
    <div class='buscas__cta-button'>
      <Buttons className='btnSecondaryDark' href='/contacto/'>Contacta con nosotras</Buttons>
    </div>
  </div>
</section>
