---

---

<section class="contact">
    <h2 class="contact__title">CONTACTO</h2>
    <p class="contact__description">
      En AstracodeLAB, te ayudamos a convertir tus ideas en realidad. Si necesitas más información sobre nuestros servicios o deseas que analicemos tu próximo proyecto, no dudes en ponerte en contacto con nosotras a través del formulario. Te responderemos lo antes posible. ¡Estamos deseando trabajar contigo!
    </p>
    <p class="contact__description">
      Si ya sabes exactamente qué tipo de página necesitas, puedes acceder a este formulario donde te haremos unas preguntas para conocerte mejor tu proyecto.
    </p>
    <form class="contact__form">
      <input type="text" class="contact__input" placeholder="Nombre" required />
      <input type="email" class="contact__input" placeholder="nombre@mail.com" required />
      <textarea class="contact__textarea" placeholder="Deja tu mensaje..." required></textarea>
      <label class="contact__checkbox-label">
        <input type="checkbox" class="contact__checkbox" required />
        Acepto que se traten mis datos para gestionar la consulta.
      </label>
      <p class="contact__question">¿Tienes dudas? Pregúntanos</p>
      <button type="submit" class="contact__button">ENVIAR</button>
    </form>
  </section>
  