---

---

<section id='contact' class='contact'>
	<div class='contact__title'>
		<h2 class='contact__title-h2'>CONTACTO</h2>
	</div>
	<div class='contact__container'>
		<div class='contact__container-text'>
			<p class='contact__container-text-description'>
				En AstracodeLAB, te ayudamos a convertir tus ideas en realidad. Si necesitas más información sobre nuestros
				servicios o deseas que analicemos tu próximo proyecto, no dudes en ponerte en contacto con nosotras a través del
				formulario. Te responderemos lo antes posible. ¡Estamos deseando trabajar contigo!
			</p>
			<p class='contact__container-text-description'>
				Si ya sabes exactamente qué tipo de página necesitas, puedes acceder a este formulario donde te haremos unas
				preguntas para conocerte mejor tu proyecto.
			</p>
		</div>
		<div class='contact__container-data'>
			<form class='contact__container-data-form'>
				<input type='text' class='contact__input' placeholder='Nombre' required />
				<input type='email' class='contact__input' placeholder='nombre@mail.com' required />
				<textarea class='contact__textarea' placeholder='Deja tu mensaje...' required></textarea>
				<label class='contact__checkbox-label'>
					<input type='checkbox' class='contact__checkbox' required />
					Acepto que se traten mis datos para gestionar la consulta.
				</label>
				<p class='contact__question'>¿Tienes dudas? Pregúntanos</p>
				<button type='submit' class='contact__button'>ENVIAR</button>
			</form>
		</div>
	</div>
</section>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const contactTitle = document.querySelector('.contact__title-h2');
		const contactSection = document.getElementById('contact');

		const handleScroll = () => {
			const sectionPosition = contactSection.getBoundingClientRect().top;
			const screenHeight = window.innerHeight;

			if (sectionPosition <= screenHeight * 0.8) {
				contactTitle.classList.add('animate-bounce');
				window.removeEventListener('scroll', handleScroll); // Para evitar re-aplicar la animación
			}
		};

		window.addEventListener('scroll', handleScroll);
	});
</script>
