---
import TitleSecondary from './Titles/TitleSecondary.astro';
import Subtitle from './Titles/Subtitle.astro';
---

<section class='estrategia'>
  <TitleSecondary text='Web corporativa profesional vs. Redes Sociales: una estrategia integral es la clave' />
  <p>
    Si bien las redes sociales son herramientas esenciales para la visibilidad inmediata y la interacción, tu web
    corporativa profesional y tus perfiles sociales cumplen roles complementarios, no sustitutos. La estrategia digital
    más potente integra ambos canales para maximizar el alcance y la conversión.
  </p>
  <Subtitle text='Tu web corporativa profesional: El centro de operaciones digital' />
  <img src='/src/images/test.jpg' />
  <ul>
    <li>
      Autonomía y Control: En tu propia página web, tú decides la estructura, el estilo y la narrativa, sin depender de
      los constantes cambios de algoritmo de terceros o las limitaciones de formato. Es tu espacio, tu reglas.
    </li>
    <li>
      SEO : Tu sitio web, es la base de tu estrategia SEO. Google valora la información estructurada, detallada y de
      valor sobre tus servicios, casos de éxito y datos de contacto. Una web bien optimizada para SEO es crucial para
      aparecer en las búsquedas de tus clientes potenciales.
    </li>
  </ul>
  <img src='/src/images/test.jpg' />
  <ul>
    <li>
      Credibilidad Inmediata: Un dominio propio y un sitio web corporativo de calidad transmiten profesionalismo y
      seriedad al instante. Los clientes perciben esto como garantía de seriedad, estabilidad y profesionalidad.
    </li>
    <li>
      Análisis y Datos Propios: Tienes acceso completo a tus propias métricas de tráfico y comportamiento de usuario, lo
      que te permite tomar decisiones informadas y ajustar tu estrategia digital de forma precisa.
    </li>
  </ul>
</section>
