---
import TitleSecondary from './Titles/TitleSecondary.astro';
import Subtitle from './Titles/Subtitle.astro';
---

<section class='estrategia'>
  <div class='estrategia__title'>
    <TitleSecondary text='Web corporativa profesional vs. Redes Sociales: una estrategia integral es la clave' />
  </div>
  <p class='estrategia__text'>
    Si bien las redes sociales son herramientas esenciales para la visibilidad inmediata y la interacción, tu web
    corporativa profesional y tus perfiles sociales cumplen roles complementarios, no sustitutos. La estrategia digital
    más potente integra ambos canales para maximizar el alcance y la conversión.
  </p>
  <div class='estrategia__subtitle'>
    <Subtitle text='Tu web corporativa profesional: El centro de operaciones digital' />
  </div>
  <div class='estrategia__section estrategia__section--top'>
    <img class='estrategia__image estrategia__image--top' src='/src/images/web-corporativa1.jpg' />
    <ul class='estrategia__list estrategia__list--top'>
      <li class='estrategia__list-item'>
        <b>Autonomía y Control:</b> En tu propia página web, tú decides la estructura, el estilo y la narrativa, sin depender
        de los constantes cambios de algoritmo de terceros o las limitaciones de formato. Es tu espacio, tu reglas.
      </li>
      <li class='estrategia__list-item'>
        <b>SEO :</b> Tu sitio web, es la base de tu estrategia SEO. Google valora la información estructurada, detallada
        y de valor sobre tus servicios, casos de éxito y datos de contacto. Una web bien optimizada para SEO es crucial para
        aparecer en las búsquedas de tus clientes potenciales.
      </li>
    </ul>
  </div>
  <div class='estrategia__section estrategia__section--bottom'>
    <img class='estrategia__image estrategia__image--bottom' src='/src/images/web-corporativa2.jpg' />
    <ul class='estrategia__list estrategia__list--bottom'>
      <li class='estrategia__list-item'>
        <b>Credibilidad Inmediata:</b> Un dominio propio y un sitio web corporativo de calidad transmiten profesionalismo
        y seriedad al instante. Los clientes perciben esto como garantía de seriedad, estabilidad y profesionalidad.
      </li>
      <li class='estrategia__list-item'>
        <b>Análisis y Datos Propios:</b> Tienes acceso completo a tus propias métricas de tráfico y comportamiento de usuario,
        lo que te permite tomar decisiones informadas y ajustar tu estrategia digital de forma precisa.
      </li>
    </ul>
  </div>
</section>
