---
import CtaHero from "./CtaHero.astro"

---

<article class="hero">
    <section class="hero__title"> 
        <h1>
            <span class="hero__title-h1bold">DISEÑO</span>  
            <span class="hero__title-h1">Y DESARROLLO</span>
            <span class="hero__title-h1bold">WEB</span> 
        </h1>
        <div class="hero__title-text"> 
            <p class="hero__title-text-p">Creación de páginas web para mejorar la visibilidad y posicionamieto de tu marca</p>
        </div> 
    </section>
    
    <CtaHero></CtaHero>
</article>