---
import TitlesHeroServices from './Titles/TitlesHeroServices.astro';

interface Props {
  title: string;
  subtitle: string;
  text: string;
  className?: string;
}

const { title, subtitle, text, className = '' } = Astro.props;
---

<section class={`heroServicesA ${className}`}>
  <div class="heroServicesA__container">
    <div class="heroServicesA__container-title">
      <TitlesHeroServices
        title={title}
        subtitle={subtitle}
        class="heroServicesTitle"
      />
    </div>
    <p class="heroServicesA__container-text">
      {text}
    </p>
  </div>
</section>

<!-- <section class='heroServicesA'>
  <div class='heroServicesA__container'>
    <div class='heroServicesA__container-title'>
      <TitlesHeroServices
        title='Diseño web y desarrollo a medida: '
        subtitle='Tu estrategia digital con AstracodeLAB'
        class='heroServicesTitle'
      />
    </div>
    <p class='heroServicesA__container-text'>
      En la era digital actual, tener una presencia online profesional no es solo una opción; es la base para el
      crecimiento y la visibilidad de cualquier negocio o proyecto. Tu página web es tu embajador digital, operando 24/7
      para captar la atención, generar confianza y convertir visitantes en clientes fieles. En AstracodeLAB, vamos más
      allá de lo estético: diseñamos y desarrollamos soluciones web a medida que no solo lucen impecables, sino que
      también son herramientas estratégicas, ágiles y accesibles, pensadas para impulsar tus objetivos de negocio.
    </p>
  </div>
</section> -->
