---
import TitlesHero from '../components/Titles/TitlesHero.astro';
import heroImg from '../../images/heroIlustration.svg';
import Buttons from '../components/Buttons/Buttons.astro';
import RocketIllustration from './RocketIllustration.astro';
---

<section class='sectionHero'>
  <article class='sectionHero__content'>
    <div class='sectionHero__content-text'>
      <TitlesHero title='Diseño de páginas web.' subtitle='Creamos páginas web profesionales.' className='heroHome' />

      <p class='sectionHero__content-description'>
        Ofrecemos soluciones web a medida ágiles y accesibles que reflejan tu marca o tu talento creativo. Con equipo
        repartido en Barcelona, Málaga y Valencia para clientes en toda España.
      </p>
      <article class='sectionHero__buttons'>
        <Buttons className='btnPrimaryLight' href='/#contact'>Ir a contacto</Buttons>
        <Buttons className='btnPrimaryDark' href='/'>¿Hablamos?</Buttons>
      </article>
    </div>
    <div class='sectionHero__image'>
      <!-- <img
        src={heroImg.src}
        alt='Ilustración de un ordenador portátil con una ventana web abierta y un botón de Click Here, acompañado de un      cohete
        despegando.'
        class='sectionHero__image-item'
      /> -->
      <RocketIllustration />
    </div>
  </article>
</section>
