---
import TitlesHero from './Titles/TitlesHero.astro';
---

<section class='heroServicesA'>
  <div>
    <TitlesHero
      title='Diseño web y desarrollo a medida: '
      subtitle='Tu estrategia digital con AstracodeLAB'
      class='heroName'
    />
  </div>
</section>
