---
import TitlesHero from '../components/Titles/TitlesHero.astro';
import Buttons from '../components/Buttons/Buttons.astro';
import RocketIllustration from './RocketIllustration.astro';
---

<div class='sectionHero'>
  <article class='sectionHero__content'>
    <div class='sectionHero__content-text'>
      <TitlesHero
        title={'Dise\u00f1amos webs profesionales para que tu negocio gane confianza y clientes'}
        subtitle=''
        className='heroHome--home'
      />

      <p class='sectionHero__content-description'>
        Creamos p&aacute;ginas web a medida, r&aacute;pidas y accesibles para aut&oacute;nomos, pymes y proyectos que quieren mejorar su
        presencia online sin complicaciones t&eacute;cnicas.
      </p>
      <article class='sectionHero__buttons'>
        <Buttons className='btnPrimaryLight' href='/#contact'>Cu&eacute;ntanos tu proyecto</Buttons>
        <Buttons className='btnPrimaryDark' href='https://calendly.com/astracodelab'>Agendar cita</Buttons>
      </article>
    </div>
    <div class='sectionHero__image'>
      <RocketIllustration />
    </div>
  </article>
</div>
