---
import Buttons from './Buttons/Buttons.astro';
import TitleSecondary from './Titles/TitleSecondary.astro';
import heroIlustration from '../../images/heroIlustration.svg';
---

<section class='listo'>
  <div class='listo__heading'>
    <TitleSecondary text='¿Listo para transformar tu presencia digital?' />
  </div>
  <div class='listo__container'>
    <div class='listo__image'>
      <img
        src={heroIlustration.src}
        alt='Ilustración de un ordenador portátil con una ventana web abierta y un botón de Click Here, acompañado de un      cohete
        despegando.'
      />
    </div>
    <div class='listo__content'>
      <p class='listo__text'>
        En AstracodeLAB, no solo construimos sitios web; construimos plataformas que impulsan el crecimiento de tu
        negocio. Si estás buscando una agencia de diseño web que combine experiencia técnica, creatividad y un enfoque
        humano, has llegado al lugar correcto.
      </p>
      <p class='listo__text'>
        Contáctanos hoy mismo para agendar una reunión gratuita y descubramos cómo podemos ayudarte a crear la página
        web profesional que tu marca necesita para destacar en el competitivo mundo digital.
      </p>
      <div class='listo__cta'>
        <div>
          <Buttons
            className='linkSecondary'
            href='https://calendly.com/astracodelab'
            target='_blank'
            rel='noopener noreferrer'>¿Hablamos de tu proyecto web? Agenda tu reunión
            </Buttons>
        </div>
      </div>
    </div>
  </div>
</section>
