---
import { Image } from 'astro:assets';
import logo from '../../images/logoLilac.png';
// interface Props {}
---

<a href='/'>
	<Image
		src={logo}
		class='logo'
		alt='Logo de AstracodeLAB'
		loading='lazy'
		widths={[62, 90,300]}
		sizes={`(max-width: 1023px) 50px, 300px`}
	/>
</a>
