---
import { Image } from 'astro:assets';
import logo from '../../images/Whitelogolab.png';
// interface Props {}
---

<a href='/'>
	<Image src={logo} class='logo' alt='Logo de AstracodeLAB' loading='lazy' width='90' height='90'/>
</a>
