---
import { Image } from 'astro:assets';
import logo from '../../images/Whitelogolab.png';
// interface Props {}
---

<a href='/'>
	<Image src={logo} class='logo' alt='Logo de AstracodeLAB' loading='lazy' />
</a>
