---
import { Image } from 'astro:assets';
import logo from '../../images/Whitelogolab.png';
// interface Props {}
---

<a href='/'>
	<Image
		src={logo}
		class='logo'
		alt='Logo de AstracodeLAB'
		loading='lazy'
		widths={[240, 340, 620, logo.width]}
		sizes={`(max-width: 360px) 240px, (max-width: 768px) 340px, (min-width: 1024px) 620px`}
	/>
</a>
