---
import { Image } from 'astro:assets';
import logo from '../../images/Whitelogolab.png';
// interface Props {}
---

<a href='/'>
	<Image
		src={logo}
		class='logo'
		alt='Logo de AstracodeLAB'
		loading='lazy'
		widths={[50, 90]}
		sizes='90px'
		sizes={`(max-width: 768px) 50px, (min-width: 1024px) 90px`}
	/>
</a>
