---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { Image } from 'astro:assets';
import Logo from '../../images/Whitelogolab.png';
---

<div>
  <Astronav>
    <div class="flex justify-between">
        <a href="/">
            <Image src={Logo} alt='Logo de AstracodeLAB' class="logo"  loading="lazy"/>
        </a>
      <MenuIcon class="menu-icon" />
    </div>
    <MenuItems class="hidden md:flex menu-items">
      <ul class="menu-items__list">
        <li class="menu-items__list-item">inicio</li>
        <li class="menu-items__list-item">
            <Dropdown class="group">
                <button>
                  <span class="menu-items__list"> servicios +</span>
                  <!-- You can style when dropdown is `open` -->
                  <!-- <svg class="red">...arrow..</svg> -->
                </button>
                <DropdownItems>
                  <div class="menu-services">
                    <ul class="menu-services__list">
                      <li class="menu-services__list-item">diseño y desarrollo web</li>
                      <li class="menu-services__list-item">rediseño webs obsoletas</li>
                      <li class="menu-services__list-item">nuevas funcionalidades</li>
                      <li class="menu-services__list-item menu-services__list-item--bottom">mantenimiento web</li>
                    </ul>
                  </div>
                </DropdownItems>
              </Dropdown>
        </li>
        <li class="menu-items__list-item">contacto</li>
        <li class="menu-items__list-item">proyectos</li>
        <li class="menu-items__list-item">sobre nosotras</li>
      </ul>
    </MenuItems>
  </Astronav>
</div>