---
import ProjectsCard from "./ProjectsCard.astro"
---

<section id="projects" class="projects-section">
    <div class="projects-section__title">
        <h2 class="projects-section__title-h2">proyectos</h2>
    </div>
    <div class="projects-section__container">
        <ProjectsCard />
    </div>

</section>