---
import ProjectsCard from "./ProjectsCard.astro"
---

<section class="projects-section">
    <h2 class="projects-section__title">proyectos</h2>
    <div class="projects-section__container">
        <ProjectsCard />
    </div>

</section>