---
import TitleSecondary from './Titles/TitleSecondary.astro';
const { title, paragraphs = [], image } = Astro.props;
---

<section class='incluye'>
  <div class='incluye__grid'>
    <div class='incluye__col1'>
      <div class='incluye__title'>
        <TitleSecondary text={title} />
      </div>
      {paragraphs[0] && <p class='incluye__text'>{paragraphs[0]}</p>}
    </div>

    {
      image && (
        <div class='incluye__col2'>
          <img src={image} alt='Imagen relacionada' class='incluye__image' />
        </div>
      )
    }
  </div>

  
  {paragraphs.slice(1).map((p) => <p class='incluye__text'>{p}</p>)}
</section>
