---
import TitleSecondary from '../components/Titles/TitleSecondary.astro';  
import Subtitle from '../components/Titles/Subtitle.astro';
import Buttons from '../components/Buttons/Buttons.astro';
import imgDesign from '../../images/servicesCardIlustrationSvg.svg';
import imgFunc from '../../images/functionalitiesCardIlustrationSvg.svg';
import imgMant from '../../images/maintenanceCardIlustrationSvg.svg';
---

<section class="servicesHome">
  
   <article class="servicesHome__intro">
    <TitleSecondary text="¿Qué hacemos?" />
    <p class="servicesHome__intro-text">En AstracodeLAB, creamos tu sitio web a medida, añadimos las funcionalidades que necesites y lo mantenemos seguro y actualizado, para que tú solo te dediques a tu negocio o proyecto.</p>
   </article>

   <article class="servicesHome__services">

    <div class="servicesHome__services-containerDesign">
      <div class="servicesHome__services-containerDesign-card">
        <img 
          src={imgDesign.src} 
          alt="Ilustración diseño web" 
          class="servicesHome__services-containerDesign-card-illustration" 
        />
        <div class="servicesHome__services-containerDesign-card-text">
          <Subtitle text="Servicios de diseño y desarrollo web" />
        </div>
        
        <p>En Astracodelab convertimos tu idea en una página web rápida y optimizada. Diseñamos y desarrollamos proyectos  personalizados que refuerzan tu marca, atraen tráfico y convierten visitas en clientes.</p>
        <div class="servicesHome__services-containerDesign-card-btn">
          <Buttons className="btnPrimaryLight" href="/" >VER MÁS</Buttons>
        </div>      
      </div>
      <div class="servicesHome__services-containerDesign-services">
        
          <Buttons className="linkServicesHero" href="/" >WEB CORPORATIVA PROFESIONAL</Buttons>
          <Buttons className="linkServicesHero" href="/" >LANDING PAGE</Buttons>
          <Buttons className="linkServicesHero" href="/" >REDISEÑO WEB</Buttons>
          <Buttons className="linkServicesHero" href="/" >TIENDA ONLINE (E-COMMERCE)</Buttons>
          <Buttons className="linkServicesHero" href="/" >PORTFOLIO ONLINE</Buttons>     
      </div>
    </div>

    <div class="servicesHome__services-containerFunc">
      <div class="servicesHome__services-containerFunc-card">
        <img 
          src={imgFunc.src} 
          alt="Ilustración diseño web" 
          class="servicesHome__services-containerFunc-card-illustration" 
        />
        <div class="servicesHome__services-containerFunc-card-text">
          <Subtitle text="Funcionalidades y optimización web: haz que tu página sea fácil de usar y fácil de encontrar" />
        </div>
        
        <p>Nos fijamos en cada detalle: añadimos las funciones que tus visitantes necesitan y optimizamos la parte técnica para que tu página rinda al máximo.</p>
        <div class="servicesHome__services-containerFunc-card-btn">
          <Buttons className="btnPrimaryLight" href="/" >VER MÁS</Buttons>
        </div>      
      </div>
      <div class="servicesHome__services-containerFunc-services">
        
          <Buttons className="linkServicesHero" href="/" >WEB MULTILINGÜE</Buttons>
          <Buttons className="linkServicesHero" href="/" >SISTEMAS DE RESERVAS</Buttons>
          <Buttons className="linkServicesHero" href="/" >ACCESIBILIDAD WEB</Buttons>
          <Buttons className="linkServicesHero" href="/" >CARTAS DIGITALES</Buttons>    
      </div>
    </div>

    <div class="servicesHome__services-containerMant">
      <div class="servicesHome__services-containerMant-card">
        <img 
          src={imgMant.src} 
          alt="Ilustración diseño web" 
          class="servicesHome__services-containerMant-card-illustration" 
        />
        <div class="servicesHome__services-containerMant-card-text">
          <Subtitle text="Mantenimiento web y Soporte continuo" />
        </div>
        
        <p class="servicesHome__services-containerMant-card-parr">Tu web siempre disponible, nos encargamos del funcionamiento de tu web para que disfrutes de un sitio seguro, rápido y disponible las 24h.</p>
        <div class="servicesHome__services-containerMant-card-btn">
          <Buttons className="btnPrimaryLight" href="/" >VER MÁS</Buttons>
        </div>      
      </div>
      <div class="servicesHome__services-containerMant-services">
        <div class="servicesHome__services-containerMant-services-links">
          <Buttons className="linkServicesHero" href="/" >HOSTING Y DOMINIO</Buttons>
          <Buttons className="linkServicesHero" href="/" >MANTENIMIENTO WEB</Buttons>  
        </div>
        <div class="servicesHome__services-containerMant-services-cta">
          <Buttons className="btnSecondaryDark" href="/" >ESCUCHAMOS TU HISTORIA</Buttons>  
        </div>
          
      </div>
    </div>
    
   </article>
  
</section>