---

---

<p class='footer__social'>@astracodelab</p>
<div class='footer__icons'>
	<a href='https://facebook.com' class='footer__icon' target='_blank'>
		<img src='/ruta/a/facebook-icon.svg' alt='Facebook' />
	</a>
	<a href='https://linkedin.com' class='footer__icon' target='_blank'>
		<img src='/ruta/a/linkedin-icon.svg' alt='LinkedIn' />
	</a>
	<a href='https://instagram.com' class='footer__icon' target='_blank'>
		<img src='/ruta/a/instagram-icon.svg' alt='Instagram' />
	</a>
</div>
