---
const { className = "" } = Astro.props;

import Linkedin from './icons/linkedin.svg';
import Instagram from './icons/insta.svg';
import Threads from './icons/threads.svg';
import Image from 'astro/components/Image.astro';
---

<div class={`social-bar ${className}`}>
  <div class='social-bar__icons'>
    <a href='https://www.facebook.com/astracodelab' target='_blank'>
      <img src="/icons/facebook.svg" alt='Facebook' />
    </a>
    <a href='https://www.linkedin.com/company/astracodelab/' target='_blank'>
      <img src={Linkedin.src} alt='LinkedIn' />
    </a>
    <a href='https://www.instagram.com/astracodelab/' target='_blank'>
      <img src={Instagram.src} alt='Instagram' />
    </a>
    <a href='http://threads.net/@astracodelab' target='_blank'>
      <img src={Threads.src} alt='Threads' />
    </a>
  </div>
</div>
