---
const { titulo, descripcion, imagen, alt = "" } = Astro.props;
---

<div class={`text-content${imagen ? ' text-content--with-image' : ''}`}>
  <div class='text-content__text'>
    <h3 class='text-content__title'>{titulo}</h3>
    <p class='text-content__description'>{descripcion}</p>
  </div>
  {imagen && (
    <div class='text-content__image-container'>
      <img src={imagen} alt={alt} class='text-content__image' />
    </div>
  )}
</div>