---
import WayOfWorkingDesktop from "./WayOfWorkingDesktop.astro";
import WayOfWorkingMov from "./WayOfWorkingMov.astro";


---

<div class="working">
    <div class="working__title">
        <h2 class="working__title-h2">NUESTRO MODO DE TRABAJO</h2> 
    </div>
    <div class="working__mov">
        <WayOfWorkingMov />
    </div>

    <div class="working__desktop">
        <WayOfWorkingDesktop />
    </div>
</div>