---



---

<div class="workingDesktop">
  
    <div class="workingDesktop__timeline">
        <ol class="workingDesktop__timeline-list" >                  
            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >1. Reunión inicial</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>
     
        
                      
            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >2. Compartenos tu idea</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>
            
            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >3. Estudio de la propuesta</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>

            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >4. Propuesta inicial</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>

            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >5. Desarrollo web</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>

            <li class="workingDesktop__timeline-list-item" >
                
                <div class="workingDesktop__timeline-list-item-circle" ></div>
                
                <div class="workingDesktop__timeline-list-item-text">
                    <h3 class="workingDesktop__timeline-list-item-text-title" >6. Revisión y entrega</h3>
                    <p class="workingDesktop__timeline-list-item-text-paragraph" >Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                </div>
            </li>
        </ol>
</div>