---
import ImageSlider from './ImageSlider.astro';
import WebDesignImages from './WebDesignImages.astro';
---

<section class='web-design'>
	<div class='web-design--mobile'>
		<ImageSlider />
	</div>
	<div class='web-design--desktop'>
		<WebDesignImages />
	</div>
	<div class='web-design__container'>
		<div class='web-design__container-title'>
			<h2 class='web-design__container-title-h2'>diseño de páginas web</h2>
		</div>

		<div class='web-design__container-text'>
			<p class='web-design__container-text-paragraph'>
				Tu presencia online estará en buenas manos: creamos páginas web diseñadas para destacar tu marca y conectar con
				tu público. Deja que nosotras creemos una página web que no solo muestre tus servicios, sino que simplifique tus
				tareas y potencie tu imagen profesional.
			</p>
		</div>
	</div>
</section>
