---
import Designimg from '../../images/diseño.png';
import Companyimg from '../../images/empresa.jpg';
import LandingPageimg from '../../images/landingpage.jpg';
import Servicesimg from '../../images/servicios.jpg';
// import Picture from 'astro/components/img.astro';
---

<section class="section-container">

    <img class='section-container__image' src={Designimg.src} alt='Portfolios y proyectos creativos'/>
    <img class='section-container__image' src={Companyimg.src} alt='Sitios web corporativos'/>
    <img class='section-container__image' src={LandingPageimg.src} alt='Landing page para empresas'/>
    <img class='section-container__image' src={Servicesimg.src} alt='Páginas web con reservas y citas'/>

</section>