---
import ImageSlider from "./ImageSlider.astro";
---

<section class="web-design">
    <ImageSlider />
    <div class="web-design__text">
        <h2>diseño de páginas web</h2>
        <p>Nos especializamos en brindar una atención cercana y personalizada. Cada proyecto es una oportunidad para entender tus necesidades, aportando valor a través de un diseño atractivo, una funcionalidad eficiente y soluciones técnicas avanzadas. </p>
</div>
</section>