---
const { title, text } = Astro.props;
---

<section class="cardNuestrosServicios">
  <div class="sectionNuestrosServicios__paraNegocios-card">
    <h4 class="sectionNuestrosServicios__paraNegocios-card-title">{title}</h4>
    <div class="sectionNuestrosServicios__paraNegocios-card-line"></div>
    <div class="sectionNuestrosServicios__paraNegocios-card-white">
      <p class="sectionNuestrosServicios__paraNegocios-card-white-text">{text}</p>
    </div> 
  </div>
</section>