---
import '../../../styles/global.scss';
import Buttons from '../Buttons/Buttons.astro';
---
<section class="cardPregunta">
  <article class="cardPregunta__content">
    <h2 class="cardPregunta__content-title">¿Tienes una idea que no encuentras en estos planes o no sabes por donde empezar?</h2>
    <p class="cardPregunta__content-text">Cuéntanosla y te guiaremos hacia la solución perfecta para tu proyecto.</p>
    <div class="cardPregunta__content-btn">
      <Buttons className="btnSecondaryDark" href="/" >¿Hablamos?</Buttons>
    </div>
  </article>
  
</section>
