---
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';
import Logo from '../../assets/images/Whitelogolab.png';
---

<header class="header">
    <div class="header__logo">
        <img src={Logo.src} alt="">
    </div>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>