---
import Logo from '../../images/Whitelogolab.png';
---

<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src={Logo.src} alt="Logo de AstracodeLAB">
        </div>

        <!-- Hamburguesa  -->
        <input type="checkbox" id="nav-toggle" class="header__hamburger" />
        <label for="nav-toggle" class="header__hamburger-button header__hamburger-button--open">
            <svg class="header__hamburger-button-icon" viewBox="0 0 20 20">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
            </svg>
        </label>

        <!-- Menú  -->
         <nav class="header__navigation">
            <ul id="nav-menu" class="header__navigation-menu">
                <!-- X para cerrar menú  -->
                 <li class="header__navigation-menu-item header__navigation-menu-item-close">
                    <label for="nav-toggle" class="header__navigation-button header__navigation-button--close">
                        <svg class="header__navigation-button-icon" viewBox="0 0 20 20">
                            <title>Menu Close</title>
                            <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                            transform="rotate(45 10 10)"></polygon>
                        </svg>
                    </label>
                 </li>

                 <!-- Elementos del menú  -->
                  <li class="header__navigation-menu-items">
                    <a href="/" class="header__navigation-menu-items-link">inicio</a>
                  </li>
                  <li class="header__navigation-menu-items">
                    <a href="#" class="header__navigation-menu-items-link">servicios</a>
                    <ul class="header__navigation-menu-items-submenu">
                        <li class="header__navigation-menu-items">
                            <a href="" class="header__navigation-menu-items-link">diseño y desarrollo web</a>
                        </li>
                        <li class="header__navigation-menu-items">
                            <a href="" class="header__navigation-menu-items-link">rediseño de webs obsoletas</a>
                        </li>
                        <li class="header__navigation-menu-items">
                            <a href="" class="header__navigation-menu-items-link">implementación de nuevas funcionalidades</a>
                        </li>
                        <li class="header__navigation-menu-items">
                            <a href="" class="header__navigation-menu-items-link">mantenimiento web</a>
                        </li>
                    </ul>
                    <li class="header__navigation-menu-items">
                        <a href="/" class="header__navigation-menu-items-link">contacto</a>
                    </li>
                    <li class="header__navigation-menu-items">
                        <a href="/" class="header__navigation-menu-items-link">proyectos</a>
                    </li>
                    <li class="header__navigation-menu-items">
                        <a href="/" class="header__navigation-menu-items-link">sobre nosotras</a>
                    </li>
                  </li>

            </ul>
         </nav>
        
    </div>
</header>