---
import Logo from "../../assets/images/Whitelogolab.png";
---

<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src={Logo.src} alt="Logo de AstracodeLAB">
        </div>
        <button class="header__menu" aria-label="Abrir menú">
            <span class="header__menu-icon"></span>
            <span class="header__menu-icon"></span>
            <span class="header__menu-icon"></span>
          </button>
    </div>
</header>