---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/services.astro";
---

<main class='mainHome'>
  <Hero />
  <Services />
  <Contact />  
</main>