---
import CardPrecio from '../components/Cards/CardPrecio.astro';
import CardPregunta from '../components/Cards/CardPregunta.astro';
import imgTimeLine from '../../images/backgroundImageSectionWhy.jpg';
import Hero from '../components/Hero.astro';
import TitleSecondary from '../components/Titles/TitleSecondary.astro';
import TimelineWrapper from '../components/Timeline/TimelineWrapper.astro';
import PasoProceso from '../components/Timeline/PasoProceso.astro';
import BannerImg from '../components/Banners/BannerImg.astro';
import TextContent from '../components/TextContent.astro';
---

<main class='mainHome'>
  <Hero />
  <section class='section-prices'>
    <div class='section-prices-header'>
      <TitleSecondary
        text='Precios claros y flexibles diseñados para todo el mundo'
        description='Elige el plan que mejor se adapta a tu proyecto. Todos incluyen diseño responsive y soporte durante el primer mes. (IVA)'
      />
    </div>
    <CardPrecio />
    <CardPregunta />
  </section>

  <section class='timeline-section'>
    <div class='timeline-section-header'>
      <TitleSecondary text='¿Cómo lo hacemos?' />
    </div>
    <TimelineWrapper>
      <PasoProceso
        numero='1'
        titulo='Reunión inicial'
        descripcion='Estudiamos tu proyecto. Hacemos una primera toma de contacto por la vía que prefieras, videollamada o llamada, donde nos cuentas tus necesidades y objetivos.'
      />
      <PasoProceso
        numero='2'
        titulo='Análisis y toma de requisitos'
        descripcion='Recopilamos ejemplos, funcionalidades imprescindibles y contenido disponible. Analizamos tu mercado y las búsquedas clave para definir una arquitectura enfocada al usuario.'
        imagen={imgTimeLine.src}
        descripcionSec='Creamos un prototipo en el que podrás ajustar colores, tipografía y jerarquía hasta que digas <strong>«ahora sí»</strong>.'
      />
      <PasoProceso
        numero='3'
        titulo='Desarrollo ágil '
        descripcion='Convertimos el diseño en código accesible y disponible para todos los dispositivos.'
      />
      <PasoProceso
        numero='4'
        titulo='Revisión, lanzamiento y soporte'
        descripcionSec='Probamos rendimiento, seguridad y usabilidad; lanzamos tu web y te acompañamos 30 días para ajustes y dudas. Si quieres, también podemos ofrecerte <a class= "linkPrimary"href="">planes de mantenimiento continuos.</a>'
      />
    </TimelineWrapper>
  </section>

  <section class='why-choose-us-section'>
    <div class='why-choose-us-header'>
      <TitleSecondary text='¿Por qué elegirnos?' />
    </div>
    
    <BannerImg 
      imagen={imgTimeLine.src}
      titulo='En AstracodeLAB somos una agencia de diseño web con proyección en toda España'
      descripcion='Nos importa la experiencia online y tu presencia únicamente que demanda un mercado específico. Lo hacemos destacar, convertimos, aceleramos, pontificamos. Nuestros métodos ayudan al crecimiento; ponerte donde perteneces, estructuramos y promocionamos que vendas más. Calidad artística y habilidad para hacer ver que vendas creatividad y honestidad.'
      alt='Imagen de diseño web'
    />

    <div class='why-choose-us-content'>
      <TextContent 
        titulo='Webs personalizadas y optimizadas'
        descripcion='No usamos plantillas genéricas. Diseñamos desde cero cada interfaz, a medida de tus competencia de tu empresa, tu fondo online o portfolio, que refueje la historia. Optimizamos y estructuramos tu contenido para SEO y configuramos con lo imprescindible para que puedas dedicar tu tiempo a lo que más valor aporta y tu negocio a hacer crecer tu proyecto.'
      />

      <div class='why-choose-us-right-column'>
        <div class='why-choose-us-image'>
          <img src={imgTimeLine.src} alt='Imagen de optimización web' />
        </div>
        
        <TextContent 
          titulo='Diseño estratégico con enfoque humano'
          descripcion='En AstracodeLAB nos gusta conectar contigo desde el primer minuto de tecnología, que funcionarán, sin generar incomodidad alguna. Desde la idea hasta la entrega de todos los accesibles hasta la simplificar el proceso para que tengas lo mejor sin complicaciones que te ayude la mejor manera.'
        />
      </div>
    </div>
  </section>
</main>
