---
import AboutUsSection from "../components/AboutUsSection.astro"
import Hero from "../components/Hero.astro"
import ServicesSection from "../components/ServicesSection.astro"
import WayOfWorkingSection from "../components/WayOfWorkingSection.astro"
---
<main class='main'>
  <Hero />
  <AboutUsSection />
  <ServicesSection />
  <WayOfWorkingSection />
</main>