---
import AboutUsSection from "../components/AboutUsSection.astro"
import Hero from "../components/Hero.astro"
import ServicesSection from "../components/ServicesSection.astro"
import WebDesignSection from "../components/WebDesignSection.astro"
import ProjectsSection from "../components/ProjectsSection.astro"
import Contact from "../components/Contact.astro";
---
<main class='main'>
  <Hero />
  <WebDesignSection />
  <AboutUsSection />
  <ServicesSection />
  <ProjectsSection />
  <Contact />
</main>