---
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
---

<main class='main'>
  <!-- <BenefitsSection
    titulo='Beneficios clave de un e-commerce profesional:'
    benefits={[
      {
        titulo: 'Venta sin horarios',
        descripcion:
          'Tu tienda online no cierra nunca. Estés durmiendo o de vacaciones, tus productos o servicios están disponibles para clientes de todo el mundo, en cualquier momento.',
      },
      {
        titulo: 'Aumento en conversiones',
        descripcion:
          'Desde la facilidad de navegación hasta un proceso de pago seguro y eficiente, cada elemento de tu tienda online está orientado para guiar al usuario hacia la compra, maximizando tus tasas de conversión.',
      },
      {
        titulo: 'Costes operativos más bajos',
        descripcion:
          'A diferencia de un local físico, una tienda online reduce gastos fijos y te permite escalar con mayor libertad.',
      },
      {
        titulo: 'Datos reales para mejores decisiones',
        descripcion:
          'Analiza qué buscan tus clientes, cómo navegan, qué productos generan más interés y optimiza tu estrategia con información tangible.',
      },
      {
        titulo: 'Mayor visibilidad en buscadores',
        descripcion:
          'Un e-commerce optimizado para SEO te ayuda a aparecer en los primeros resultados de Google, lo que significa más visitas y más oportunidades de venta.',
      },
    ]}
  /> -->
</main>
