---
import CardPrecio from '../components/Cards/CardPrecio.astro';
import CardPregunta from '../components/Cards/CardPregunta.astro';
import imgTimeLine from '../../images/backgroundImageSectionWhy.jpg';
import Hero from '../components/Hero.astro';
import Services from '../components/services.astro';
import Subtitle from '../components/Titles/Subtitle.astro';
import TitleSecondary from '../components/Titles/TitleSecondary.astro';
import TimelineWrapper from '../components/Timeline/TimelineWrapper.astro';
import PasoProceso from '../components/Timeline/PasoProceso.astro';
import BannerImg from '../components/Banners/BannerImg.astro';
import TextContent from '../components/TextContent.astro';
import BannerCta from '../components/Banners/BannerCta.astro';
import CardTestimonio from '../components/Cards/CardTestimonio.astro';
import WorkSection from '../components/WorkSection.astro';
import FaqsSection from '../components/FaqsSection.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';


---

<main class='mainHome'>
  <Hero />
  <Services />
  <section class='timeline-section'>
    <div class='timeline-section-header'>
      <TitleSecondary text='¿Cómo lo hacemos?' />
    </div>
    <TimelineWrapper>
      <PasoProceso
        numero='1'
        titulo='Reunión inicial'
        descripcion='Estudiamos tu proyecto. Hacemos una primera toma de contacto por la vía que prefieras, videollamada o llamada, donde nos cuentas tus necesidades y objetivos.'
      />
      <PasoProceso
        numero='2'
        titulo='Análisis y toma de requisitos'
        descripcion='Recopilamos ejemplos, funcionalidades imprescindibles y contenido disponible. Analizamos tu mercado y las búsquedas clave para definir una arquitectura enfocada al usuario.'
        imagen={imgTimeLine.src}
        descripcionSec='Creamos un prototipo en el que podrás ajustar colores, tipografía y jerarquía hasta que digas <strong>«ahora sí»</strong>.'
      />
      <PasoProceso
        numero='3'
        titulo='Desarrollo ágil '
        descripcion='Convertimos el diseño en código accesible y disponible para todos los dispositivos.'
      />
      <PasoProceso
        numero='4'
        titulo='Revisión, lanzamiento y soporte'
        descripcionSec='Probamos rendimiento, seguridad y usabilidad; lanzamos tu web y te acompañamos 30 días para ajustes y dudas. Si quieres, también podemos ofrecerte <a class= "linkPrimary"href="">planes de mantenimiento continuos.</a>'
      />
    </TimelineWrapper>
  </section>

  <section class='why-choose-us-section'>
    <div class='why-choose-us-header'>
      <TitleSecondary text='¿Por qué elegirnos?' />
    </div>

    <BannerImg
      imagen={imgTimeLine.src}
      descripcion='En <strong>AstracodeLAB </strong> somos una agencia de diseño web con proyectos en toda España.  No importa si eres una empresa consolidada, un autónomo que despega o un creador (escritor, músico, ilustrador...), aquí tienes tu sitio. Desarrollamos webs corporativas, ecommerce, portfolios artísticos y landings promocionales combinando estrategia digital, creatividad y desarrollo.'
      alt='Imagen de diseño web'
    />

    <div class='why-choose-us-content'>
      <TextContent
        titulo='Webs Personalizadas y Estratégicas'
        descripcion='No usamos plantillas genéricas. Diseñamos páginas web profesionales totalmente a medida: la web corporativa de tu empresa, tu tienda online o el portfolio que muestra tu talento. '
        descripcionSec='Optimizamos y estructuramos tu contenido para SEO y configuramos un diseño responsive para que tu web se vea perfecta en cualquier dispositivo. Además, nos ocupamos de las actualizaciones y el mantenimiento para que puedas dedicar tu tiempo a lo que más valor aporta a tu negocio o a hacer crecer tu proyecto.'
      />

      <div class='why-choose-us-right-column'>
        <div class='why-choose-us-image'>
          <img src={imgTimeLine.src} alt='Imagen de optimización web' />
        </div>

        <TextContent
          titulo='Diseño estratégico con enfoque humano'
          descripcion='En Astracodelab nos gusta conectar contigo desde el primer minuto: sin tecnicismos, con una atención personalizada y aportando valor. Desde la idea hasta la entrega, te acompañamos en todo el proceso para que tengas la web profesional que tu marca merece.'
        />
      </div>
    </div>
  </section>

  <BannerCta
    titulo='¿Listo para destacar?'
    descripcion='Tanto si quieres hacer una página web profesional, lanzar un nuevo ecommerce o renovar tu web actual, podemos transformar tu idea en resultados concretos. Cada proyecto es único y cada diseño tiene su propio propósito.'
    texto='Contacta con nosotros'
  />

  <section class='testimonial-section'>
    <CardTestimonio
      titulo='¿Aún tienes dudas?'
      subtitulo='Quienes mejor hablan de nosotras son nuestros clientes'
      testimonials={[
        {
          imagen: imgTimeLine.src,
          testimonial:
            'Muy contenta con el trabajo de esta empresa. Les di el contacto para un familiar y ha quedado encantado. Estuvieron en todo momento en contacto, supieron plasmar sus ideas y, además, aportaron mucha creatividad al proyecto. También me dice que son encantadoras y que, desde el primer momento, ya sabía que estaba en buenas manos. Las volveré a recomendar sin duda.',
          alt: 'Cliente satisfecho 1',
        },
        {
          imagen: imgTimeLine.src,
          testimonial:
            'Ha sido genial trabajar con el equipo AstraCodeLab. Desde el principio han mostrado una gran profesionalidad y han cumplido con todo lo acordado y plazos propuestos.Su implicación en el proyecto ha hecho obtener un diseño de la web maravilloso. Nos encanta el resultado.Sin duda cuento con ellas para futuros trabajos.',
          alt: 'Cliente satisfecho 2',
        },
        {
          imagen: imgTimeLine.src,
          testimonial:
            'Muy satisfecho con el resultado obtenido, la web que me han diseñado funciona estupendamente y a un precio muy competitivo. El trato recibido estupendo, no se puede ser más profesional.',
          alt: 'Cliente satisfecho 3',
        },
      ]}
    />
  </section>

  <WorkSection titulo='¿Quieres ver nuestros trabajos?' />
  <section class='section-prices'>
    <div class='section-prices-header'>
      <TitleSecondary
        text='Precios claros y flexibles diseñados para todo el mundo'
        description='Elige el plan que mejor se adapta a tu proyecto. Todos incluyen diseño responsive y soporte durante el primer mes. (IVA)'
      />
    </div>
    <CardPrecio />
    <CardPregunta />
  </section>

  <FaqsSection titulo='Preguntas frecuentes' />

  <Contact titulo='Contacto' />
  
</main>
