---
import AboutUsSection from "../components/AboutUsSection.astro"
import Hero from "../components/Hero.astro"
import ServicesSection from "../components/ServicesSection.astro"
---
<main class='main'>
  <Hero />
  <AboutUsSection />
  <ServicesSection />
</main>