@use 'sass:map';
@use './variables.scss' as *;

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 20px 20px;
	text-align: center;
	@media (min-width: 1024px) {
	
		padding: 60px 60px;
	}
	&__img {
		max-width: 80%;

		@media (min-width: 768px) {
			max-width: 40%;
		}
	}

	&__text {
		font-size: map.get($Body-mobile, 'font-size');
  line-height: map.get($Body-mobile, 'line-height');
  font-weight: map.get($Body-mobile, 'font-weight');
  letter-spacing: map.get($Body-mobile, 'letter-spacing');
  color: $text-bg-white;
  display: flex;
  gap: 10px;


  @media (min-width: 768px) {
    font-size: map.get($Body-tablet, 'font-size');
    line-height: map.get($Body-tablet, 'line-height');
    font-weight: map.get($Body-tablet, 'font-weight');
    letter-spacing: map.get($Body-tablet, 'letter-spacing');

  }

  @media (min-width: 1024px) {
    font-size: map.get($Body-desktop, 'font-size');
    line-height: map.get($Body-desktop, 'line-height');
    font-weight: map.get($Body-desktop, 'font-weight');
    letter-spacing: map.get($Body-desktop, 'letter-spacing');

  }

  @media (min-width: 1440px) {
    font-size: map.get($Body-desktop-xl, 'font-size');
    line-height: map.get($Body-desktop-xl, 'line-height');
    font-weight: map.get($Body-desktop-xl, 'font-weight');
    letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
  }
		margin-bottom: 1rem;
	}

	&__button {
		font-family: Ropa Sans;
		background-color: $blue-primary;
		padding: 10px 20px 10px 20px;
		border-radius: 35px;
		box-shadow: $shadow;
		transition: background-color 0.3s ease, color 0.3s ease;
		
		&:hover {
			background-color: $green;
			color: $blue-primary;
		}
		&:active {
			color: $blue-primary;
		}
	}
}
