@use './variables.scss' as *;
@use "sass:map";

.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    @media (min-width: $bp-l) {
       padding-top: 80px;
    }

    &__title{
            font-family: map.get($h2, "font-family");
            font-size: map.get($h2, "font-size");
            color: map.get($h2, "color");
            padding-bottom: 20px;
            width: 100%;
            text-align: center;
            @media (min-width: $bp-m) {
                font-family: map.get($h2-desktop, "font-family");
                font-size: map.get($h2-desktop, "font-size");
                color: map.get($h2-desktop, "color");
                text-align: center;
                //padding-left: 96px;
            }
            @media (min-width: $bp-l) {
                
                font-size: map.get($h2-desktop-l, "font-size");
                display: flex;
                justify-content: center; 
            }
            &-h2{
                @media (min-width: $bp-l) {
					padding: 0 50px;
					display: flex;
					width: 1024px;
				
				}
				@media (min-width: $bp-xl) {
					
					display: flex;
					width: 1440px;
				
				}
            }
            
    }

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        @media (min-width: $bp-l) {
            
            flex-direction: row;
            align-items: stretch;
           width: 100%;
            
         }

        &-mision{
            display: flex;
            flex-direction: column;
           // justify-content: center;
            align-items: center;
            background-color: $backgroundContainer;
            border-top: 1px solid $purple;
            border-bottom: 1px solid $purple;
            border-right: 1px solid $purple;
            gap: 20px;
            padding: 20px 0 20px 0;
            box-shadow: $shadow;
            @media (min-width: $bp-m) {
                flex: 1; 
                padding: 20px 50px;
               
            }

            @media (min-width: $bp-l) {
                flex: 1; 
                display: flex;
                align-items: end;
                flex-direction: column;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 20px 0;
            }
            

            &-title{
                font-family: map.get($h3, "font-family");
                font-size: map.get($h3, "font-size");
                color: map.get($h3, "color");
                font-weight: map.get($h3, "font-weight") ;

                @media (min-width: $bp-m) {
                    font-family: map.get($h3-desktop, "font-family");
                    font-size: map.get($h3-desktop, "font-size");
                    color: map.get($h3-desktop, "color");
                    font-weight: map.get($h3-desktop, "font-weight") ;
                }
                @media (min-width: $bp-l) {
                    text-align: start;
                    width: 450px;

                }
                @media (min-width: $bp-xl) {                    
                    width: 657px;
                }
                
                &-h3 {
                    @media (min-width: $bp-l) {
                        text-align: start;
  
                    }
                    
                }
            }
            &-paragraph{
                font-family: map.get($paragraph, "font-family");
                font-size: map.get($paragraph, "font-size");
                color: map.get($paragraph, "color");
                line-height: map.get($paragraph, "line-height");
                text-align: center;
                padding: 0px 16px 0 16px;
                

                @media (min-width: $bp-m) {
                    font-family: map.get($paragraph-desktop, "font-family");
                    font-size: map.get($paragraph-desktop, "font-size");
                    color: map.get($paragraph-desktop, "color");
                    line-height: map.get($paragraph-desktop, "line-height");
                    text-align: start;
                }
                @media (min-width: $bp-l) {
                    //padding: 20px 50px;
                    max-width: 450px;
                    padding: 0px 16px 0 0px;
                }
                @media (min-width: $bp-xl) {
                    font-size: 1.3rem;
                    max-width: 657px;
                    padding-right: 50px;
                }
            }
        }
        &-compromise{
            display: flex;
            flex-direction: column;
           // justify-content: center;
            align-items: center;
            background-color: $backgroundContainer;
            border-top: 1px solid $purple;
            border-bottom: 1px solid $purple;
            border-left: 1px solid $purple;
            gap: 20px;
            padding: 20px 0 20px 0;
            box-shadow: $shadow;
            @media (min-width: $bp-m) {
                flex: 1; 
                padding: 20px 50px;
                
            }

            @media (min-width: $bp-l) {
                flex: 1; 
                display: flex;
                align-items: start;
                flex-direction: column;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 20px 0;
            }
            

            &-title{
                font-family: map.get($h3, "font-family");
                font-size: map.get($h3, "font-size");
                color: map.get($h3, "color");
                font-weight: map.get($h3, "font-weight");

                @media (min-width: $bp-m) {
                    font-family: map.get($h3-desktop, "font-family");
                    font-size: map.get($h3-desktop, "font-size");
                    color: map.get($h3-desktop, "color");
                    font-weight: map.get($h3-desktop, "font-weight") ;
                }
                @media (min-width: $bp-l) {
                    text-align: start;
                    width: 450px;
                    padding-left: 50px;
                    
                }
                @media (min-width: $bp-l) {
                    
                   // width: 657px;
                    
                    
                }
                
                &-h3 {
                    @media (min-width: $bp-l) {
                        text-align: start;
                        width: 450px;
                        //padding-right: 50px;
                        
                    }
                    @media (min-width: $bp-xl) {
                        
                        //padding-left: 50px;
                        
                    }
                }
            }
            &-paragraph{
                font-family: map.get($paragraph, "font-family");
                font-size: map.get($paragraph, "font-size");
                color: map.get($paragraph, "color");
                line-height: map.get($paragraph, "line-height");
                text-align: center;
                padding: 0px 16px 0 16px;
                

                @media (min-width: $bp-m) {
                    font-family: map.get($paragraph-desktop, "font-family");
                    font-size: map.get($paragraph-desktop, "font-size");
                    color: map.get($paragraph-desktop, "color");
                    line-height: map.get($paragraph-desktop, "line-height");
                    text-align: start;
                    padding: 0;
                }
                @media (min-width: $bp-l) {
                    //padding: 20px 50px;
                    width: 450px;
                    padding-left: 50px;
                }
                @media (min-width: $bp-xl) {
                    font-size: 1.3rem;
                    width: 657px;
                    padding-left: 50px;
                }
            }
        }
        
    }}
