@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// ADVANTAGES SECTION
// ===========================
.advantages-section {
  padding: 60px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 60px 120px 0 120px;
  }

  @media (min-width: 1024px) {
    max-width: 904px;
  }
  @media (min-width: 1440px) {
    max-width: 1024px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__header {
    text-align: left;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 4rem;
    }

    & p {
      padding-top: 5px;
      text-align: left;
    }
  }

  &__content {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: $shadow;
  }

  &__headers {
    display: flex;
    background: $gradientBlue;
  }

  &__header-cell {
    font-family: $font-primary;
    font-size: map.get($H3-mobile, 'font-size');
    line-height: map.get($H3-mobile, 'line-height');
    font-weight: map.get($H3-mobile, 'font-weight');
    letter-spacing: map.get($H3-mobile, 'letter-spacing');
    color: white;
    text-align: center;
    padding: 1.5rem;

    @media (min-width: 768px) {
      font-size: map.get($H3-tablet, 'font-size');
      line-height: map.get($H3-tablet, 'line-height');
      font-weight: map.get($H3-tablet, 'font-weight');
      letter-spacing: map.get($H3-tablet, 'letter-spacing');
      padding: 2rem;
      text-transform: uppercase;
    }

    @media (min-width: 1024px) {
      font-size: map.get($H3-desktop, 'font-size');
      line-height: map.get($H3-desktop, 'line-height');
      font-weight: map.get($H3-desktop, 'font-weight');
      letter-spacing: map.get($H3-desktop, 'letter-spacing');
      padding: 2.5rem;
    }

    &:first-child {
      flex: 1;

      @media (min-width: 768px) {
        flex: 0 0 40%;
      }
    }

    &:last-child {
      display: none;

      @media (min-width: 768px) {
        display: block;
        flex: 0 0 60%;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($title-color, 0.1);
    }
  }
}
