@use 'sass:map';
@use './variables.scss' as *;

.banner-cta {
  background-image: url('../images/backgroundDark.png');
  background-size: cover; // rellena el contenedor
  background-position: center 60%; // centra la parte media
  background-repeat: no-repeat;
  padding: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media (min-width: 48rem) {
    padding: 2rem;
    margin: 3rem 0;
    background-position: center 53%;
  }

  @media (min-width: 64rem) {
    padding: 3.75rem 2rem 3.75rem 2rem;
    display: flex;
    align-items: center;
  }

  &__container {
    @media (min-width: 64rem) {
      max-width: 56.5rem;
    }
    @media (min-width: 64rem) {
      max-width: 64rem;
    }
  }
  .banner {
    color: $blue-secondary;
  }

  .text {
    font-size: map.get($H2-mobile, 'font-size');
    line-height: map.get($H2-mobile, 'line-height');
    font-weight: map.get($H2-mobile, 'font-weight');

    @media (min-width: 48rem) {
      font-size: map.get($H2-tablet, 'font-size');
      line-height: map.get($H2-tablet, 'line-height');
      font-weight: map.get($H2-tablet, 'font-weight');
    }

    @media (min-width: 64rem) {
      font-size: map.get($H2-desktop, 'font-size');
      line-height: map.get($H2-desktop, 'line-height');
      font-weight: map.get($H2-desktop, 'font-weight');
    }
  }

  .desc {
    font-size: map.get($Body-mobile, 'font-size');
    line-height: map.get($Body-mobile, 'line-height');
    font-weight: map.get($Body-mobile, 'font-weight');

    @media (min-width: 48rem) {
      font-size: map.get($Body-tablet, 'font-size');
      line-height: map.get($Body-tablet, 'line-height');
      font-weight: map.get($Body-tablet, 'font-weight');
    }

    @media (min-width: 64rem) {
      font-size: map.get($Body-desktop, 'font-size');
      line-height: map.get($Body-desktop, 'line-height');
      font-weight: map.get($Body-desktop, 'font-weight');
    }
  }
}

.banner-cta__button {
  margin-top: 1.25rem;

  @media (min-width: 48rem) {
    margin-top: 1.875rem;
  }
}
