@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// BANNER IMG SECTION
// ===========================
.banner-img {
  margin: 2rem 0;


  @media (min-width: 768px) {
    margin: 3rem 0;
  }

  @media (min-width: 1024px) {
    margin: 4rem 0;
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 523px;

    @media (min-width: 768px) {
      min-width: 766px;
      height: 305px;
    }

    @media (min-width: 1024px) {
      border-radius: 30px;
      min-width: 900px;
      height: 400px;
    }
  }

  &__card {
    position: absolute;
    background: $cardWhite;
    border-radius: 12px;
    padding: 1.25rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    min-width: 280px;
    max-width: 345px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      min-width: 657px;
      padding: 2rem;
    }

    @media (min-width: 1024px) {
      max-width: 726px;
      padding: 2.5rem;
    }
  }

  &__card-title {
    font-family: $font-primary;
    font-size: map.get($H3-mobile, 'font-size');
    line-height: map.get($H3-mobile, 'line-height');
    font-weight: map.get($H3-mobile, 'font-weight');
    letter-spacing: map.get($H3-mobile, 'letter-spacing');
    color: $title-color;
    margin: 0 0 1rem 0;

    @media (min-width: 768px) {
      font-size: map.get($H3-tablet, 'font-size');
      line-height: map.get($H3-tablet, 'line-height');
      font-weight: map.get($H3-tablet, 'font-weight');
      letter-spacing: map.get($H3-tablet, 'letter-spacing');
    }

    @media (min-width: 1024px) {
      font-size: map.get($H3-desktop, 'font-size');
      line-height: map.get($H3-desktop, 'line-height');
      font-weight: map.get($H3-desktop, 'font-weight');
      letter-spacing: map.get($H3-desktop, 'letter-spacing');
    }
  }

  &__card-description {
    font-family: $font-primary;
    font-size: map.get($Body-mobile, 'font-size');
    line-height: map.get($Body-mobile, 'line-height');
    font-weight: map.get($Body-mobile, 'font-weight');
    letter-spacing: map.get($Body-mobile, 'letter-spacing');
    color: $text-bg-color;
    margin: 0;

    @media (min-width: 768px) {
      font-size: map.get($Body-tablet, 'font-size');
      line-height: map.get($Body-tablet, 'line-height');
      font-weight: map.get($Body-tablet, 'font-weight');
      letter-spacing: map.get($Body-tablet, 'letter-spacing');
    }

    @media (min-width: 1024px) {
      font-size: map.get($Body-desktop, 'font-size');
      line-height: map.get($Body-desktop, 'line-height');
      font-weight: map.get($Body-desktop, 'font-weight');
      letter-spacing: map.get($Body-desktop, 'letter-spacing');
    }
  }
}