@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// BENEFITS SECTION
// ===========================
.benefits-section {
  padding-top: 10px 1.25rem 0rem 1.25rem;

  @media (min-width: 64rem) {
    padding: 0;
  }

  &__container {
    @media (min-width: 64rem) {
      max-width: 56.5;
    }

    @media (min-width: 90rem) {
      min-width: 64rem;
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    @media (min-width: 48rem) {
      flex-direction: column;
      gap: 1.25rem;
    }

    @media (min-width: 64rem) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.65rem;
      max-width: 56.5rem;
      margin-top: 1.25rem;
      justify-content: center;
    }

    @media (min-width: 90rem) {
      max-width: 64rem;
      display: flex;
      gap: 1.25rem;
    }
  }
}
