@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// BENEFITS SECTION
// ===========================
.benefits-section {
  padding: 30px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 5rem 0rem;
  }

  @media (min-width: 1024px) {
    padding: 0px;
    max-width: 904px;
  }
  @media (min-width: 1440px) {
    padding: 0;
    max-width: 1024px;
  }

  &__container {
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 1024px) {
      max-width: 904px;
      margin: 0 auto;
    }

    @media (min-width: 1440px) {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &__header {

    margin-bottom: 2.5rem;


    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 3.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      align-items: stretch;
      justify-content: center;
      
      &:has(.benefits-section__card:nth-child(odd):last-child) {
        .benefits-section__card:last-child {
          grid-column: 1 / -1;
          justify-self: center;
          max-width: 50%;
        }
      }
    }

    @media (min-width: 1024px) {

      gap: 2.5rem;
      align-items: stretch;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      &:has(.benefits-section__card:nth-child(even):last-child) {          
            grid-column: 1 / -1;
            justify-self: center;
            max-width: 50%;
          
        }
    } 
    }    

}