@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// BENEFIT CARD
// ===========================
.benefit-card {
  background: $cardWhite;
  border-radius: 12px;
  padding: 0;
  color: $title-color;
  box-shadow: $shadow;

  @media (min-width: 768px) {
    border-radius: 16px;
    //width: ;: 100%;
    display: flex;
    flex-direction: column;
    //flex: 1 1 294px;
    flex-wrap: wrap;
  }
  
  @media(min-width: 1024px) {
    width: 294px;
    flex: 1 1 294px;
  }
  @media(min-width: 1440px) {
    width: 328px;
    
  }

  &__title {
    font-family: $font-primary;
    font-size: map.get($Body-mobile, 'font-size');
    line-height: map.get($H3-mobile, 'line-height');
    //font-weight: map.get($H3-mobile, 'font-weight');
    letter-spacing: map.get($H3-mobile, 'letter-spacing');
    color: white;
    background: $gradientBlueVertical;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 12px 12px 0 0;

    @media (min-width: 768px) {
      font-size: map.get($Body-tablet, 'font-size');
      line-height: map.get($H3-tablet, 'line-height');
     
      letter-spacing: map.get($H3-tablet, 'letter-spacing');

      border-radius: 16px 16px 0 0;
    }

    @media (min-width: 1024px) {
      font-size: map.get($Body-desktop, 'font-size');
      line-height: map.get($H3-desktop, 'line-height');
      text-align: center;
      letter-spacing: map.get($H3-desktop, 'letter-spacing');
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__description {
    font-family: $font-primary;
    font-size: map.get($Body-mobile, 'font-size');
    line-height: map.get($Body-mobile, 'line-height');
    font-weight: map.get($Body-mobile, 'font-weight');
    letter-spacing: map.get($Body-mobile, 'letter-spacing');
    color: $title-color;
    margin: 0;
    padding: 1.5rem;

    @media (min-width: 768px) {
      font-size: map.get($Body-tablet, 'font-size');
      line-height: map.get($Body-tablet, 'line-height');
      font-weight: map.get($Body-tablet, 'font-weight');
      letter-spacing: map.get($Body-tablet, 'letter-spacing');
      padding: 2rem;
      flex: 1;
      display: flex;
      align-items: flex-start;
    }

    @media (min-width: 1024px) {
      font-size: map.get($Body-desktop, 'font-size');
      line-height: map.get($Body-desktop, 'line-height');
      font-weight: map.get($Body-desktop, 'font-weight');
      letter-spacing: map.get($Body-desktop, 'letter-spacing');
      padding: 1.8rem;
    }
  }
}