@use 'sass:map';
@use './variables.scss' as *;

//ejemplo de uso en un componente
//<Buttons className="btnPrimaryLight" href="/" >Ir a contacto</Buttons>
//BOTÓN FONDO CLARO className="btnPrimaryLight"
//BOTÓN FONDO OSCURO className="btnPrimaryDark"
//BOTÓN fondo plano oscuro className="btnSecondaryDark"
//BOTÓN fondo plano claro className="btnSecondaryLight"
//LINK className="linkPrimary"
//LINK ARROW className="linkSecondary"
//LINK services className="linkServicesHero"
//LINK ARROW verde className="linkSecondaryGreen"

//BOTON FONDO CLARO
.btnPrimaryLight {
  display: inline-flex;
  width: auto;
  padding: 2px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $blue-primary;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');

  /* Gradiente en el borde y fondo sólido */
  background-image: linear-gradient($blue-secondary, $blue-secondary), // fondo interno
                    $gradientButton;                                // borde con degradado
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  &:hover {
    background: $gradientButtonFlip;
    color: $blue-secondary;
    border: 2px solid $blue-primary
  }

  &:active {
    background: $blue-dark;
    border: 2px solid $blue-dark;
    color: $blue-secondary;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    padding: 4px 14px;
  }
  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    padding: 6px 18px;
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    padding: 8px 18px;
  }
}

//BOTON FONDO OSCURO
.btnPrimaryDark {
  display: inline-flex;
  width: auto;
  padding: 2px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $blue-secondary;
  border-radius: 50px;
  border: 2px solid $blue-primary;
  cursor: pointer;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');
  background: $gradientBlue;

  &:hover {
    background: $gradientButton;
    color: $blue-secondary;
    border: 2px solid $blue-primary;
    color: $blue-dark;
    border: 2px solid transparent;
    background-image: linear-gradient($blue-secondary, $blue-secondary), // fondo interno
                    $gradientButton;                                // borde con degradado
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
  }

  &:active {
    background: $blue-dark;
    border: 2px solid $blue-dark;
    color: $blue-secondary;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    padding: 4px 14px;
  }
  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    padding: 6px 18px;
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    padding: 8px 18px;
  }
}

//BOTON FONDO PLANO oscuro Principal cards
.btnSecondaryDark {
  display: inline-flex;
  width: auto;
  padding: 2px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $blue-secondary;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');

  background: $blue-primary;
  &:hover {
    background: $blue-secondary;
    color: $blue-primary;
    border: 2px solid $blue-primary
  }

  &:active {
    background: $blue-dark;
    border: 2px solid $blue-dark;
    color: $blue-secondary;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    padding: 0.5rem 0.875rem;
  }
  @media (min-width: 1024px) {
    font-size: map.get($Body-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    //padding: 0.9rem 1.5rem;
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    padding: 8px 18px;
  }

}
//BOTON FONDO PLANO CLARO secondary cards
.btnSecondaryLight {
  display: inline-flex;
  width: auto;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $title-color;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');

  background: $blue-secondary;
  &:hover {
    background: $blue-dark;
    color: $blue-secondary;
    border: 2px solid $blue-dark
  }
  
  &:active {
    background: $blue-primary;
    border: 2px solid $blue-primary;
    color: $blue-secondary;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    padding: 0.5rem 0.875rem;
  }
  @media (min-width: 1024px) {
    font-size: map.get($Body-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    padding: 0.9rem 1.5rem;
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');

  }
}

//LINK 
.linkPrimary{
  color: $blue-primary;
  cursor: pointer;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    
  }
  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    
  }
}

//LINK ARROW
.linkSecondary{
  color: $blue-primary;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    
  }
  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    
  }
}

.linkServicesHero {
  color: $text-bg-color;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; // 🔑 separa texto y flecha a extremos
  width: 100%; // 🔑 hace que el link ocupe el ancho del div padre
  padding: 10px 0;
  font-family: $font-primary;
  font-size: map.get($SmallText-mobile, 'font-size');
  line-height: map.get($SmallText-mobile, 'line-height');
  font-weight: map.get($SmallText-mobile, 'font-weight');
  border-bottom: 1px solid rgba(42, 17, 96, 0.2);
  &:last-child {
    border-bottom: none; 
  }
  &:hover {
    color: $blue-primary;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    //width: 330px;
  }

  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
  }

  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
  }
}

.linkSecondaryGreen{
  color: $green;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: $font-primary;
  font-size: map.get($Button-mobile, 'font-size');
  line-height: map.get($Button-mobile, 'line-height');
  font-weight: map.get($Button-mobile, 'font-weight');
  justify-content: flex-end;
  &:hover {
    color: $cardWhite;
  }

  @media (min-width: 768px) {
    font-size: map.get($Button-tablet, 'font-size');
    line-height: map.get($Button-tablet, 'line-height');
    font-weight: map.get($Button-tablet, 'font-weight');
    letter-spacing: map.get($Button-tablet, 'letter-spacing');
    
  }
  @media (min-width: 1024px) {
    font-size: map.get($Button-desktop, 'font-size');
    line-height: map.get($Button-desktop, 'line-height');
    font-weight: map.get($Button-desktop, 'font-weight');
    letter-spacing: map.get($Button-desktop, 'letter-spacing');
    
  }
  @media (min-width: 1440px) {
    font-size: map.get($Button-desktop-xl, 'font-size');
    line-height: map.get($Button-desktop-xl, 'line-height');
    font-weight: map.get($Button-desktop-xl, 'font-weight');
    letter-spacing: map.get($Button-desktop-xl, 'letter-spacing');
    
  }
}
