@use 'sass:map';
@use './variables.scss' as *;

.conector {
  &__header {
    padding: 0.75rem 1.25rem 0 1.25rem;

    @media (min-width: 48rem) {
      padding: 0.75rem 7.5rem 1.25rem 7.5rem;
    }

    @media (min-width: 64rem) {
      padding: 0.75rem 0 0 0;
      max-width: 56.5rem;
      margin: 0 auto;
    }

    @media (min-width: 90rem) {
      max-width: 64rem;
    }
  }

  &__content {
    margin-top: 0.75rem;
    background-color: white;
    border-top: 1px solid $cardWhite;
    box-shadow: $shadow;

    @media (min-width: 48rem) {
      border-radius: 15px;
      margin: 0 7.5rem;
      padding: 01.875rem;
    }

    @media (min-width: 64rem) {
      max-width: 56.5rem;
      margin: 1.25rem auto 0;
      display: flex;
      flex-direction: row;
      padding: 0.625rem 0;
    }

    @media (min-width: 90rem) {
      max-width: 64rem;
      padding: 2.5rem 3.75rem;
    }
  }

  &__text {
    padding: 0 1.25rem;
    font-family: $font-primary;
    color: $text-bg-white;
    letter-spacing: map.get($Body-mobile, letter-spacing);
    line-height: map.get($Body-mobile, line-height);
    font-size: map.get($Body-mobile, font-size);
    font-weight: map.get($Body-mobile, font-weight);

    position: relative;
    text-align: left;

    @media (min-width: 48rem) {
      letter-spacing: map.get($Body-tablet, letter-spacing);
      line-height: map.get($Body-tablet, line-height);
      font-size: map.get($Body-tablet, font-size);
      font-weight: map.get($Body-tablet, font-weight);
    }

    @media (min-width: 64rem) {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      letter-spacing: map.get($Body-desktop, letter-spacing);
      line-height: map.get($Body-desktop, line-height);
      font-size: map.get($Body-desktop, font-size);
      font-weight: map.get($Body-desktop, font-weight);
    }

    @media (min-width: 90rem) {
      letter-spacing: map.get($Body-desktop-xl, letter-spacing);
      line-height: map.get($Body-desktop-xl, line-height);
      font-size: map.get($Body-desktop-xl, font-size);
      font-weight: map.get($Body-desktop-xl, font-weight);
    }

    &::after {
      content: '';
      display: block;
      width: 15.063rem;
      height: 0.063rem;
      background-color: $blue-primary;
      margin: 0.625rem;

      @media (min-width: 48rem) {
        margin: 1.25rem auto;
      }

      @media (min-width: 64rem) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 0.063rem;
        height: 70%;
        margin: 0 0.313rem;
      }
    }

    &:first-child {
      padding-top: 1.25rem;
    }

    &:last-child {
      padding-bottom: 1.25rem;

      &::after {
        display: none;
      }
    }
  }

  &__summary {
    padding: 1.25rem 1.25rem 0 1.25rem;
    font-family: $font-primary;
    color: $text-bg-white;
    letter-spacing: map.get($Body-mobile, letter-spacing);
    line-height: map.get($Body-mobile, line-height);
    font-size: map.get($Body-mobile, font-size);
    font-weight: map.get($Body-mobile, font-weight);

    @media (min-width: 48rem) {
      padding: 1.25rem 7.5rem 0 7.5rem;
      letter-spacing: map.get($Body-tablet, letter-spacing);
      line-height: map.get($Body-tablet, line-height);
      font-size: map.get($Body-tablet, font-size);
      font-weight: map.get($Body-tablet, font-weight);
    }

    @media (min-width: 64rem) {
      padding: 1.25rem 0 0 0;
      max-width: 56.5rem;
      margin: 0 auto;
      letter-spacing: map.get($Body-desktop, letter-spacing);
      line-height: map.get($Body-desktop, line-height);
      font-size: map.get($Body-desktop, font-size);
      font-weight: map.get($Body-desktop, font-weight);
    }

    @media (min-width: 90rem) {
      max-width: 64rem;
      letter-spacing: map.get($Body-desktop-xl, letter-spacing);
      line-height: map.get($Body-desktop-xl, line-height);
      font-size: map.get($Body-desktop-xl, font-size);
      font-weight: map.get($Body-desktop-xl, font-weight);
    }
  }
}
