
.container_main_services {
  background-image: url('/src/images/backgroundWhiteA.jpg');
  background-repeat: no-repeat;
  background-size: cover; // llena todo el ancho SIEMPRE
  background-position: center top; // centra la imagen
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}