@use './variables.scss' as *;

.button-contact {
    color: $green;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: scale(1.2); 
    }
}