@use './variables.scss' as *;

.containerCTA {
    &__button {
        font-family: Ropa Sans;
        background-color: $cta;
        color: $white;
        padding: 10px 20px 10px 20px;
        border-radius: 35px;
        transition: background-color 0.3s ease, color 0.3s ease;
        @media (min-width: $bp-m) {
            font-size: 1.6rem;
        }
        @media (min-width: $bp-l) {
            font-size: 1.8rem;
        }
        &:hover {
            background-color: $green; 
            color: $cta;
        }
        &:active {
            background-color: $purple;
            color: $cta;
            
        }
    }
}