@use 'sass:map';
@use './variables.scss' as *;

.footer {
	padding: 1.5rem 1rem;
	background: linear-gradient(to bottom right, $white, $purple);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__separate {
		@media (min-width: $bp-m) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__three {
		@media (min-width: $bp-m) {
		}
	}

	&__logo {
		margin-bottom: 0.5rem;
	}

	&__nav,
	&__legal {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
		font-family: map.get($paragraph, 'font-family');
		font-size: map.get($paragraph, 'font-size');
		color: map.get($paragraph, 'color');

		& > .footer__link {
			text-decoration: none;
			color: #000;
			font-size: 0.875rem;
		}

		@media (min-width: $bp-m) {
			font-family: map.get($h1, font-family);
		}
	}

	&__copy {
		font-family: map.get($paragraph, 'font-family');
		font-size: map.get($paragraph, 'font-size');
		color: map.get($paragraph, 'color');
		margin-top: 1rem;

		@media (min-width: $bp-m) {
			align-self: flex-start;
			font-family: map.get($h1, font-family);
		}
	}
}
