/* Importar archivos SCSS específicos */
@use './Header.scss';
@use './Logo.scss';
@use './Contact.scss';
@use './SocialBar.scss';
@use './Footer.scss';
@use './variables.scss' as *;
@use './Buttons.scss';
@use './Titles.scss';
@use './CardPregunta.scss';
@use './Hero.scss';
@use './MainHome.scss';
@use './Timeline.scss';
@use './Services.scss';
@use './TextContent.scss';
@use './WhyChooseUs.scss';
@use './SocialIcons.scss';
@use './Accordion.scss';
@use './HeroSecondary.scss';
@use './HeroServicesA.scss';
@use './Incluye.scss';
@use './PorqueNecesitoWeb.scss';
@use './SimpleNumber.scss';
@use './PuntosEstrategicos.scss';
@use './NuestrosServicios.scss';
@use './Conector.scss';
@use './Buscas.scss';
@use './Listo.scss';
@use './AdvantagesSection.scss';
@use './AdvantageItem.scss';
@use './ContainerMainServices.scss';
@use './CookieBanner.scss';
@use './RocketIllustration.scss';

/* Estilos globales */
:root {
  font-family: $font-primary;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  padding-top: 5rem;
  

  header {
    padding: 1.25rem;
  }

  footer {
    padding: 1.875rem 1.25rem; // top-bottom1.875rem, left-right1.25rem
  }

  @media (min-width: 48rem) {
    padding-top: 90px;
  }
  @media (min-width: 64rem) {
    padding-top: 6.25rem;
  }
  @media (min-width: 90rem) {
  }
}
