@charset "UTF-8";
/* Importar archivos SCSS específicos */
/*&-h1bold {
            font-family: map.get($h1bold, "font-family");
            font-size: map.get($h1bold, "font-size");
            color: map.get($h1bold, "color");
        }*/
.containerCTA__button {
  font-family: Ropa Sans;
  background-color: #641eff;
  color: #fdfcff;
  padding: 10px 20px 10px 20px;
  border-radius: 35px;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 768px) {
  .containerCTA__button {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .containerCTA__button {
    font-size: 1.8rem;
  }
}
.containerCTA__button:hover {
  background-color: #bbff00;
  color: #641eff;
}
.containerCTA__button:active {
  background-color: #b7aaff;
  color: #641eff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header__text {
  font-family: "Ropa Sans";
  font-size: 0.8rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .header__text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}

.navigation {
  background-color: rgba(253, 252, 255, 0.05);
  border: 1px solid #fdfcff;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 1024px) {
  .navigation {
    max-width: 1250px;
  }
}
@media (min-width: 1440px) {
  .navigation {
    max-width: 1500px;
  }
}
.navigation__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  /* Cuando el menú está abierto (checkbox marcado) */
  /* Mostrar la "X" para cerrar el menú cuando el checkbox está marcado */
  /* Ocultar la hamburguesa cuando el menú está abierto */
  /* Mostrar la "X" cuando el menú está abierto */
}
@media (min-width: 768px) {
  .navigation__container {
    flex-wrap: nowrap;
    padding: 0;
  }
}
.navigation__container-logo {
  order: 0;
  position: relative;
  width: 70px;
}
@media (min-width: 768px) {
  .navigation__container-logo {
    width: 150px;
  }
}
.navigation__container-toggle {
  display: none;
}
.navigation__container-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}
.navigation__container-button--open {
  display: block;
}
.navigation__container-button-icon {
  width: 30px;
  height: 30px;
  fill: #fdfcff;
}
@media (min-width: 768px) {
  .navigation__container-button-icon {
    display: none;
  }
}
.navigation__container-menu {
  position: fixed;
  top: 0;
  left: -850px;
  width: 100%;
  height: 100%;
  background-color: #fdfcff;
  color: rgb(0, 0, 0);
  transition: left 0.3s ease;
  z-index: 1000;
}
@media (min-width: 768px) {
  .navigation__container-menu {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 30px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }
}
.navigation__container-menu--close {
  left: -850px;
}
.navigation__container-menu-item {
  font-weight: 600;
  padding: 10px;
  position: relative;
}
.navigation__container-menu-item:hover {
  color: #b7aaff; /* Cambiar color al hover */
}
.navigation__container-menu-item-close {
  display: none; /* Ocultar la "X" inicialmente */
  text-align: right;
  margin: 20px;
}
.navigation__container-menu-item-close svg {
  fill: #120c23;
}
@media (min-width: 768px) {
  .navigation__container-menu-item-close {
    display: none;
  }
}
.navigation__container-menu-button {
  display: block;
}
@media (min-width: 768px) {
  .navigation__container-menu-button {
    display: none;
  }
}
.navigation__container-menu-itemsMap {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation__container-menu-itemsMap {
    display: block;
  }
}
.navigation__container-menu-itemsMap-link {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 600;
  text-transform: uppercase;
  width: 140px;
}
@media (min-width: 768px) {
  .navigation__container-menu-itemsMap-link {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #fdfcff;
    width: auto;
  }
  .navigation__container-menu-itemsMap-link:hover {
    color: #b7aaff;
  }
}
@media (min-width: 1024px) {
  .navigation__container-menu-itemsMap-link {
    font-size: 1.125rem;
  }
}
.navigation__container-menu-itemsMap-linkSubmenu {
  font-size: 1rem;
  padding: 2px;
  display: flex;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .navigation__container-menu-itemsMap-linkSubmenu:hover {
    color: #381388;
    background-color: #b7aaff;
  }
}
.navigation__container-menu-itemsMap-arrow {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .navigation__container-menu-itemsMap-arrow {
    margin: 3px 0 0 0;
    fill: white;
  }
}
.navigation__container-toggle:checked ~ .navigation__container-menu {
  left: 0; /* Mostrar menú */
}
.navigation__container-toggle:checked ~ .navigation__container-menu .navigation__container-menu-item-close {
  display: block; /* La "X" se hace visible */
}
.navigation__container-toggle:checked ~ .navigation__container-button--open {
  display: none;
}
.navigation__container-toggle:checked ~ .navigation__container-button--close {
  display: block;
}
.navigation__container-submenu {
  opacity: 0; /* Lo hacemos invisible */
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  display: block; /* Se mantiene el display como block, pero la visibilidad se controla con opacidad y desplazamiento */
  transform: translateY(-20px); /* Lo colocamos un poco hacia arriba */
}
.navigation__container-submenu.open {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 1;
  max-height: 450px; /* Altura máxima para desplegar */
  transition: opacity 0.5s ease, max-height 0.5s ease;
}
@media (min-width: 768px) {
  .navigation__container-submenu {
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navigation__container-submenu.open {
    background-color: #fdfcff;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .navigation__container-submenu-item {
    padding: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .navigation__container-submenu-item {
    width: 300px;
  }
}

/* button contact CTA */
.button-header {
  display: none;
}
@media (min-width: 768px) {
  .button-header {
    display: flex;
    width: 300px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .button-header {
    display: flex;
    width: 400px;
    justify-content: center;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px 50px 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .hero {
    padding: 120px 20px 50px 20px;
  }
}
@media (min-width: 1024px) {
  .hero {
    gap: 30px;
  }
}
.hero__title {
  display: flex;
  align-items: center;
  max-width: 420px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .hero__title {
    max-width: 100%;
  }
}
.hero__title-h1 {
  font-family: "Raleway Variable";
  font-size: 2.625rem;
  color: #fdfcff;
  letter-spacing: -0.1575rem;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  .hero__title-h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .hero__title-h1 {
    font-family: "Raleway Variable";
    font-size: 4.6rem;
    color: #fdfcff;
    letter-spacing: -0.1575rem;
  }
}
@media (min-width: 1440px) {
  .hero__title-h1 {
    font-size: 6rem;
  }
}
.hero__title-h1bold {
  font-family: "Konkhmer Sleokchher";
  font-size: 2.625rem;
  color: #fdfcff;
  letter-spacing: -0.1575rem;
}
@media (min-width: 768px) {
  .hero__title-h1bold {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .hero__title-h1bold {
    font-family: "Konkhmer Sleokchher";
    font-size: 4.6rem;
    color: #fdfcff;
    letter-spacing: -0.1575rem;
  }
}
@media (min-width: 1440px) {
  .hero__title-h1bold {
    font-size: 6rem;
  }
}
.hero__title-text {
  max-width: 310px;
}
@media (min-width: 768px) {
  .hero__title-text {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .hero__title-text {
    max-width: 1000px;
  }
}
.hero__title-text-p {
  font-family: Ropa Sans;
  font-size: 1.25rem;
  color: #381388;
  line-height: 1.5625rem;
}
@media (min-width: 1024px) {
  .hero__title-text-p {
    font-size: 1.6rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.swiper-slide .slide-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
  border-radius: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Imagen activa en móvil */
.swiper-slide.swiper-slide-active .slide-image {
  transform: scale(1);
  filter: brightness(0.4);
}

/* Imágenes laterales */
.swiper-slide:not(.swiper-slide-active) .slide-image {
  transform: scale(0.8);
  filter: brightness(1);
}

/* Botones de navegación en pantallas grandes */
.swiper-button-prev,
.swiper-button-next {
  color: #fdfcff;
}

.slide-content {
  position: relative;
  display: inline-block;
}

.slide-text {
  width: 75%;
  position: absolute;
  bottom: 5%;
  left: 47%;
  transform: translate(-45%, 0);
  font-family: "Konkhmer Sleokchher";
  font-size: 1rem;
  color: #fdfcff;
  display: inline-flex;
}

.logo {
  width: 50px;
  height: 50px;
}
@media (min-width: 1024px) {
  .logo {
    width: 90px;
    height: 90px;
  }
}

.section-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  max-width: 1440px;
}
.section-container__item {
  position: relative;
  flex: 1 1 auto;
  max-width: 23.8095238095%;
  margin: 0 8px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.section-container__item:hover .section-container__overlay {
  opacity: 1;
}
.section-container__image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 15px;
}
.section-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: end;
  border-radius: 15px;
}
.section-container__text {
  color: #fdfcff;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Konkhmer Sleokchher";
  font-size: 20px;
}
@media (min-width: 768px) {
  .section-container__text {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .section-container__text {
    font-size: 30px;
  }
}
.section-container__arrow {
  padding-right: 10px;
  padding-bottom: 10px;
}

.section-animation {
  opacity: 0;
  animation: slide-in 1.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.web-design--mobile {
  display: block;
}
@media (min-width: 768px) {
  .web-design--mobile {
    display: none;
  }
}
.web-design--desktop {
  display: none;
}
@media (min-width: 768px) {
  .web-design--desktop {
    display: flex;
    justify-content: center;
  }
}
.web-design__container {
  text-align: center;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .web-design__container {
    display: flex;
  }
}
.web-design__container-title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  text-transform: uppercase;
  margin: 0 16px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .web-design__container-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .web-design__container-title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .web-design__container-title {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .web-design__container-title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .web-design__container-title-h2 {
    display: flex;
    width: 1440px;
  }
}
.web-design__container-text {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  background-color: rgba(183, 170, 255, 0.05);
  border: 1px solid #b7aaff;
  padding: 20px 16px;
}
@media (min-width: 768px) {
  .web-design__container-text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    text-align: start;
    padding: 20 96px;
  }
}
@media (min-width: 1024px) {
  .web-design__container-text {
    font-size: 1.3rem;
    line-height: 1.5625rem;
    text-align: start;
    padding: 20 0px;
    display: flex;
    justify-content: center;
  }
}
.web-design__container-text-paragraph {
  max-width: 1024px;
  display: flex;
}
@media (min-width: 768px) {
  .web-design__container-text-paragraph {
    padding: 0 50px;
  }
}
@media (min-width: 1440px) {
  .web-design__container-text-paragraph {
    max-width: 1440px;
  }
}

.button-contact {
  color: #bbff00;
  text-transform: uppercase;
  transition: transform 0.3s ease, color 0.3s ease;
  position: fixed;
  top: 37px;
  z-index: 9999;
  animation: bgcolor;
  animation-timeline: scroll();
  animation-range: 0 10%;
  animation-fill-mode: both;
}
@media (min-width: 1024px) {
  .button-contact {
    top: 55px;
  }
}
.button-contact:hover {
  transform: scale(1.2);
}

@keyframes bgcolor {
  from {
    background-color: transparent;
  }
  to {
    background-color: #bbff00;
    color: #381388;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  }
}
.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
@media (min-width: 1024px) {
  .aboutus {
    padding-top: 80px;
  }
}
.aboutus__title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .aboutus__title {
    font-family: "Raleway Variable";
    font-size: 2rem;
    color: #381388;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .aboutus__title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .aboutus__title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .aboutus__title-h2 {
    display: flex;
    width: 1440px;
  }
}
.aboutus__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .aboutus__container {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }
}
.aboutus__container-mision {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFAFF;
  border-top: 1px solid #b7aaff;
  border-bottom: 1px solid #b7aaff;
  border-right: 1px solid #b7aaff;
  gap: 20px;
  padding: 20px 0 20px 0;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 768px) {
  .aboutus__container-mision {
    flex: 1;
    padding: 20px 50px;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-mision {
    flex: 1;
    display: flex;
    align-items: end;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 0;
  }
}
.aboutus__container-mision-title {
  font-family: "Raleway Variable";
  font-size: 1.25rem;
  color: #120c23;
  font-weight: 500;
}
@media (min-width: 768px) {
  .aboutus__container-mision-title {
    font-family: "Raleway Variable";
    font-size: 1.8rem;
    color: #120c23;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-mision-title {
    text-align: start;
    width: 450px;
  }
}
@media (min-width: 1440px) {
  .aboutus__container-mision-title {
    width: 657px;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-mision-title-h3 {
    text-align: start;
  }
}
.aboutus__container-mision-paragraph {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  text-align: center;
  padding: 0px 16px 0 16px;
}
@media (min-width: 768px) {
  .aboutus__container-mision-paragraph {
    font-family: "Ropa Sans";
    font-size: 1.125rem;
    color: rgba(18, 12, 35, 0.8);
    line-height: 1.5625rem;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-mision-paragraph {
    max-width: 450px;
    padding: 0px 16px 0 0px;
  }
}
@media (min-width: 1440px) {
  .aboutus__container-mision-paragraph {
    font-size: 1.3rem;
    max-width: 657px;
    padding-right: 50px;
  }
}
.aboutus__container-compromise {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFAFF;
  border-top: 1px solid #b7aaff;
  border-bottom: 1px solid #b7aaff;
  border-left: 1px solid #b7aaff;
  gap: 20px;
  padding: 20px 0 20px 0;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 768px) {
  .aboutus__container-compromise {
    flex: 1;
    padding: 20px 50px;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-compromise {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 0;
  }
}
.aboutus__container-compromise-title {
  font-family: "Raleway Variable";
  font-size: 1.25rem;
  color: #120c23;
  font-weight: 500;
}
@media (min-width: 768px) {
  .aboutus__container-compromise-title {
    font-family: "Raleway Variable";
    font-size: 1.8rem;
    color: #120c23;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-compromise-title {
    font-family: "Raleway Variable";
    font-size: 1.8rem;
    color: #120c23;
    font-weight: 500;
    text-align: start;
    width: 450px;
    padding-left: 50px;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-compromise-title-h3 {
    text-align: start;
    width: 450px;
  }
}
.aboutus__container-compromise-paragraph {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  text-align: center;
  padding: 0px 16px 0 16px;
}
@media (min-width: 768px) {
  .aboutus__container-compromise-paragraph {
    font-family: "Ropa Sans";
    font-size: 1.125rem;
    color: rgba(18, 12, 35, 0.8);
    line-height: 1.5625rem;
    text-align: start;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .aboutus__container-compromise-paragraph {
    width: 450px;
    padding-left: 50px;
  }
}
@media (min-width: 1440px) {
  .aboutus__container-compromise-paragraph {
    font-size: 1.3rem;
    width: 657px;
    padding-left: 50px;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.aboutus__container-mision,
.aboutus__container-compromise {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.aboutus__container-mision.animate {
  animation-name: slide-in-left;
}

.aboutus__container-compromise.animate {
  animation-name: slide-in-left;
}
@media (min-width: 1024px) {
  .aboutus__container-compromise.animate {
    animation-name: slide-in-right;
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .services__title {
    font-family: "Raleway Variable";
    font-size: 2rem;
    color: #381388;
  }
}
@media (min-width: 1024px) {
  .services__title {
    font-family: "Raleway Variable";
    font-size: 3rem;
    color: #381388;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .services__title-h2 {
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  .services__title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .services__title-h2 {
    width: 1440px;
  }
}
.services__container {
  width: 100vw;
  height: 110%;
  display: flex;
  justify-content: center;
  margin: 0;
  background: linear-gradient(180deg, #ffffff 0%, #cdb0f4 30%, #9e63ea 40%, #5e30b2 45%, #5e30b2 50%, #5e30b2 55%, #9e63ea 60%, #cdb0f4 70%, #ffffff 100%);
}
.services__container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
  padding-top: 20px;
  flex-wrap: wrap;
  background-size: 100vw;
  align-content: center;
}
@media (min-width: 1024px) {
  .services__container-cards {
    padding: 20px 50px 0px 50px;
    flex-direction: row;
    max-width: 1024px;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .services__container-cards {
    padding: 20px 50px 0px 50px;
    flex-direction: row;
    max-width: 1440px;
    gap: 24px;
  }
}
.services__container-cards-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfcff;
  border: 1px solid #b7aaff;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  border-radius: 10px;
  background-color: #FBFAFF;
  padding: 20px 16px 20px 16px;
  gap: 5px;
  width: 95vw;
  flex-grow: 1; /* Hace que todos los items crezcan igual al mismo ritmo */
  max-width: 100vw; /* Limita el ancho máximo de cada caja */
  min-height: 100px; /* Altura mínima para que las cajas tengan un tamaño uniforme */
}
@media (min-width: 1024px) {
  .services__container-cards-item {
    width: 45%; /* 2 cajas por fila en pantallas grandes */
    max-width: 800px; /* Limita el ancho máximo */
    min-height: 300px; /* Ajusta la altura mínima en pantallas grandes */
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
}
@media (min-width: 1440px) {
  .services__container-cards-item {
    padding: 20px 10px 20px 10px;
  }
}
.services__container-cards-item-icon {
  display: flex;
  justify-content: center;
  align-items: center; /* Ícono centrado verticalmente en móvil */
  width: 50px;
  height: auto;
}
@media (min-width: 1024px) {
  .services__container-cards-item-text {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .services__container-cards-item-text {
    max-width: 600px;
  }
}
.services__container-cards-item-text-title {
  font-family: "Raleway Variable";
  font-size: 1.25rem;
  color: #120c23;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  .services__container-cards-item-text-title {
    font-family: "Raleway Variable";
    font-size: 1.8rem;
    color: #120c23;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .services__container-cards-item-text-title {
    font-family: "Raleway Variable";
    font-size: 1.6rem;
    color: #120c23;
    font-weight: 500;
    min-height: 80px;
  }
}
@media (min-width: 1440px) {
  .services__container-cards-item-text-title {
    min-height: 40px;
  }
}
.services__container-cards-item-text-paragraph {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  text-align: center;
  padding: 0 16px 0 16px;
  display: none;
}
@media (min-width: 1024px) {
  .services__container-cards-item-text-paragraph {
    display: flex;
    font-family: "Ropa Sans";
    font-size: 1.125rem;
    color: rgba(18, 12, 35, 0.8);
    line-height: 1.5625rem;
    text-align: center;
    padding: 0 5px 0 0;
  }
}
@media (min-width: 1440px) {
  .services__container-cards-item-text-paragraph {
    font-size: 1.3rem;
  }
}

.services__container-cards-item svg {
  width: 40px;
  height: 40px;
  fill: currentColor;
}
@media (min-width: 1024px) {
  .services__container-cards-item svg {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1440px) {
  .services__container-cards-item svg {
    width: 60px;
    height: 60px;
  }
}

.services__container-cards-item {
  color: #b7aaff; /* Establece el color que desees */
}

.services__container-cards-item {
  opacity: 0;
  transform: translateY(50px); /* Estado inicial */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.services__container-cards-item.visible {
  opacity: 1;
  transform: translateY(0); /* Estado final */
}

.projects-section__title {
  text-transform: uppercase;
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .projects-section__title {
    font-family: "Raleway Variable";
    font-size: 2rem;
    color: #381388;
  }
}
@media (min-width: 1024px) {
  .projects-section__title {
    font-size: 3rem;
    text-align: start;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
}
@media (min-width: 1024px) {
  .projects-section__title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .projects-section__title-h2 {
    width: 1440px;
  }
}

.projects-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 520px) {
  .projects-card {
    display: none;
  }
}
.projects-card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-card__corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: rgba(56, 19, 136, 0.9);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Añadir transición de opacidad */
}
.projects-card__corner:hover {
  transform: scale(1.1);
}
.projects-card__corner img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  animation: animationArrow 2s ease-in-out infinite;
}
.projects-card__corner--hidden {
  opacity: 0; /* Hacerlo invisible */
  pointer-events: none; /* Evitar clics */
}
.projects-card__overlay {
  position: absolute;
  inset: 0;
  background: rgba(56, 19, 136, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  color: #fdfcff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.projects-card__overlay--visible {
  transform: translateY(0);
}
.projects-card__pills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.projects-card__pills-pill {
  padding: 0 5px;
  background: transparent;
  color: #fdfcff;
  border-radius: 16px;
  border: 1px solid #bbff00;
  font-family: "Raleway Variable";
  font-size: 0.9rem;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  text-align: center;
  width: 130px;
}
.projects-card__text {
  text-align: center;
  font-family: "Ropa Sans";
  font-size: 1rem;
  margin-bottom: 20px;
}
.projects-card__button {
  width: 140px;
  text-align: center;
  background: #fdfcff;
  color: #641eff;
  padding: 2px 20px;
  border-radius: 25px;
  font-family: "Konkhmer Sleokchher";
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}

.projects-card-desktop {
  display: none;
  padding: 16px;
}
@media (min-width: 520px) {
  .projects-card-desktop {
    display: flex;
    flex-direction: column;
    background-color: #120c23;
    gap: 25px;
    align-items: center;
  }
}
.projects-card-desktop__container {
  display: flex;
  height: 280px;
  max-width: 1024px;
  justify-content: center;
}
@media (min-width: 1440px) {
  .projects-card-desktop__container {
    max-width: 1440px;
  }
}
.projects-card-desktop__container-image {
  width: 50%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-card-desktop__container-image-right {
  width: 50%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-card-desktop__container-content {
  display: flex;
  background-color: rgba(214, 208, 255, 0.1);
  flex-direction: column;
  color: rgba(253, 252, 255, 0.8);
  padding: 20px;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.projects-card-desktop__container-content-left {
  display: flex;
  flex-direction: column;
  color: #fdfcff;
  padding: 20px;
  justify-content: space-around;
  background-color: rgba(156, 114, 231, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.projects-card-desktop__container-content-pills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
@media (min-width: 768px) {
  .projects-card-desktop__container-content-pills {
    justify-content: flex-start;
    padding-left: 16px;
  }
}
.projects-card-desktop__container-content-pills-pill {
  padding: 0 10px;
  background: rgba(156, 114, 231, 0.3);
  color: #fdfcff;
  border-radius: 16px;
  border: 1px solid #bbff00;
  font-family: "Raleway Variable";
  font-size: 0.9rem;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  text-align: center;
}
.projects-card-desktop__container-content-pills-pill--dark {
  background-color: rgba(56, 19, 136, 0.5);
  padding: 0 10px;
  color: #fdfcff;
  border-radius: 16px;
  border: 1px solid #bbff00;
  font-family: "Raleway Variable";
  font-size: 0.9rem;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  text-align: center;
}
.projects-card-desktop__container-content-text {
  text-align: center;
  font-family: "Ropa Sans";
  font-size: 1.125rem;
  margin-bottom: 25px;
}
.projects-card-desktop__container-content-button {
  width: 140px;
  text-align: center;
  background: #fdfcff;
  color: #641eff;
  padding: 2px 20px;
  border-radius: 25px;
  font-family: "Konkhmer Sleokchher";
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  align-self: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .projects-card-desktop__container-content-button {
    align-self: flex-end;
  }
}
.projects-card-desktop__container-content-button:hover {
  background: #b7aaff;
  color: #fdfcff;
}

@keyframes border-grow {
  0% {
    box-shadow: 0 0 0 0 #bbff00;
  }
  50% {
    box-shadow: 0 0 0 5px #bbff00;
  }
  100% {
    box-shadow: 0 0 0 0 #bbff00;
  }
}
.projects-card,
.projects-card-desktop__container {
  position: relative;
  transition: box-shadow 0.5s ease;
}
.projects-card.animate-border,
.projects-card-desktop__container.animate-border {
  animation: border-grow 1s ease-out;
}
@media (min-width: 768px) {
  .projects-card.animate-border,
  .projects-card-desktop__container.animate-border {
    border-radius: 10px;
  }
}

@keyframes animationArrow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(-1);
    transform: translate(35%, 55%) rotate(225deg);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.contact {
  padding: 30px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .contact {
    padding-top: 80px;
  }
}
.contact__title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  margin: 0 16px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .contact__title {
    font-family: "Raleway Variable";
    font-size: 2rem;
    color: #381388;
  }
}
@media (min-width: 1024px) {
  .contact__title {
    font-family: "Raleway Variable";
    font-size: 3rem;
    color: #381388;
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .contact__title {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .contact__title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .contact__title-h2 {
    padding: 0;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 768px) {
  .contact__container {
    display: flex;
    gap: 30px;
    padding: 10px;
    max-width: 1024px;
  }
}
@media (min-width: 768px) {
  .contact__container-text {
    width: 50%;
    text-align: start;
  }
}
.contact__container-text-description {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .contact__container-text-description {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .contact__container-text-description {
    font-size: 1.3rem;
  }
}
.contact__container-text-description-link {
  color: #641eff;
  transition: background-color 0.3s;
}
.contact__container-text-description-link:hover {
  background-color: #bbff00;
  border-radius: 4px;
}
.contact__container-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contact__container-data {
    width: 50%;
  }
}
.contact__container-data-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__input, .contact__textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 0.875rem;
  background-color: #f3f1ff;
  color: #381388;
  font-family: "Raleway Variable";
}
.contact__textarea {
  min-height: 100px;
}
.contact__checkbox-label {
  font-family: "Ropa Sans";
  font-size: 0.75rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact__checkbox {
  margin: 0;
}
.contact__question {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  margin-top: 1rem;
}
.contact__button {
  align-self: center;
  width: 100px;
  padding: 0.75rem;
  border: none;
  border-radius: 50px;
  background-color: #641eff;
  color: #fdfcff;
  font-family: "Raleway Variable";
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
.contact__button:hover {
  background-color: #bbff00;
  color: #641eff;
}
.contact__button:active {
  background-color: #b7aaff;
  color: #641eff;
}

.tracking-in-contract {
  animation: tracking-in-contract 0.8s linear both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.6em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.social-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.social-bar__title {
  font-family: "Raleway Variable";
  color: #120c23;
  margin-bottom: 5px;
}
.social-bar__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  padding: 1.5rem 1rem;
  background: linear-gradient(to bottom right, #fdfcff, #b7aaff);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer__content {
    max-width: 1250px;
  }
}
@media (min-width: 1440px) {
  .footer__content {
    max-width: 1500px;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__social {
    align-items: end;
  }
}
.footer__social-logo {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__social-logo {
    margin-bottom: 0;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__nav > .footer__link {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .footer__nav > .footer__link {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .footer__nav > .footer__link {
    font-size: 1.25rem;
  }
}
.footer__legal {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}
.footer__legal > .footer__link {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .footer__legal > .footer__link {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .footer__legal > .footer__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .footer__legal {
    text-align: start;
  }
}
.footer__copy {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  margin-top: 1rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .footer__copy {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin: 0;
    width: 100%;
    text-align: start;
    max-width: 1250px;
  }
}
@media (min-width: 1440px) {
  .footer__copy {
    font-size: 1.25rem;
    max-width: 1500px;
  }
}

.working__title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .working__title {
    font-family: "Raleway Variable";
    font-size: 2rem;
    color: #381388;
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .working__title {
    font-family: "Raleway Variable";
    font-size: 3rem;
    color: #381388;
    text-align: start;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .working__title {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .working__title-h2 {
    padding: 0 50px;
    display: flex;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .working__title-h2 {
    display: flex;
    width: 1440px;
  }
}
.working__mov {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .working__mov {
    display: none;
  }
}
.working__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .working__desktop {
    display: flex;
  }
}

.workingMov__timeline {
  padding-left: 30px;
}
.workingMov__timeline-list {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 6px solid #b7aaff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  align-items: flex-start;
}
.workingMov__timeline-list.active {
  border-left: 6px solid #bbff00;
}
.workingMov__timeline-list-item {
  display: flex;
  justify-content: center;
}
.workingMov__timeline-list-item-circle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #b7aaff;
  border-radius: 50%;
  left: -0.95rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.workingMov__timeline-list-item-circle.active {
  background-color: #bbff00;
  border-color: #fdfcff;
}
.workingMov__timeline-list-item-text {
  padding: 0 20px;
}
.workingMov__timeline-list-item-text-title {
  font-family: "Raleway Variable";
  font-size: 1.25rem;
  color: #120c23;
  font-weight: 500;
}
@media (min-width: 768px) {
  .workingMov__timeline-list-item-text-title {
    font-family: "Raleway Variable";
    font-size: 1.8rem;
    color: #120c23;
    font-weight: 500;
    text-align: start;
  }
}
.workingMov__timeline-list-item-text-paragraph {
  margin-bottom: 1rem;
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  text-align: start;
  padding: 0 16px 0 16px;
}
@media (min-width: 768px) {
  .workingMov__timeline-list-item-text-paragraph {
    display: flex;
    font-family: "Ropa Sans";
    font-size: 1.125rem;
    color: rgba(18, 12, 35, 0.8);
    line-height: 1.5625rem;
    text-align: start;
    padding: 0 5px 0 0;
  }
}

.workingDesktop__timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workingDesktop__timeline-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 40px 16px 16px 16px;
}
.workingDesktop__timeline-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b7aaff;
  z-index: 0;
}
.workingDesktop__timeline-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 155px;
  text-align: center;
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item {
    width: 230px;
  }
}
.workingDesktop__timeline-list-item-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #b7aaff;
  border-radius: 50%;
  z-index: 2;
}
.workingDesktop__timeline-list-item-circle:hover {
  background-color: #bbff00;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-circle {
    top: 93%;
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-circle {
    top: 95%;
  }
}
.workingDesktop__timeline-list-item-circle--bottom {
  top: 16%;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-circle--bottom {
    top: 10%;
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-circle--bottom {
    top: 5%;
  }
}
.workingDesktop__timeline-list-item-circle-circle.active {
  background-color: #bbff00;
  border-color: #fdfcff;
}
.workingDesktop__timeline-list-item:nth-child(odd) {
  transform: translateY(-70px);
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item:nth-child(odd) {
    transform: translateY(-95px);
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item:nth-child(odd) {
    transform: translateY(-100px);
  }
}
.workingDesktop__timeline-list-item:nth-child(even) {
  transform: translateY(58px);
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item:nth-child(even) {
    transform: translateY(70px);
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item:nth-child(even) {
    transform: translateY(80px);
  }
}
.workingDesktop__timeline-list-item-text {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workingDesktop__timeline-list-item-text-title {
  font-family: "Raleway Variable";
  font-size: 1.3rem;
  color: #120c23;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-text-title {
    font-size: 1.9rem;
    text-align: center;
  }
}
.workingDesktop__timeline-list-item-text-paragraph {
  display: flex;
  font-family: "Ropa Sans";
  font-size: 1.125rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.5625rem;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-text-paragraph {
    max-width: 200px;
    text-align: center;
  }
}

.workingDesktop__timeline-list-item-circle {
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.workingDesktop__timeline-list-item-circle.active {
  background-color: #bbff00; /* Cambia el color a verde */
}

.workingDesktop__timeline-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b7aaff; /* Color base si no se está haciendo hover */
  z-index: 0;
  transition: background-image 0.3s ease; /* Suaviza el cambio de fondo */
}

.workingDesktop__timeline-list.hover1::before {
  background-image: linear-gradient(to right, #bbff00 10%, #b7aaff 30%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover2::before {
  background-image: linear-gradient(to right, #bbff00 30%, #b7aaff 40%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover3::before {
  background-image: linear-gradient(to right, #bbff00 50%, #b7aaff 60%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover4::before {
  background-image: linear-gradient(to right, #bbff00 60%, #b7aaff 70%, #b7aaff 50%);
}

.workingDesktop__timeline-list.hover5::before {
  background-image: linear-gradient(to right, #bbff00 80%, #b7aaff 90%, #b7aaff 40%);
}

.workingDesktop__timeline-list.hover6::before {
  background-image: linear-gradient(to right, #bbff00 90%, #b7aaff 95%, #b7aaff 30%);
}

.web-dev {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 1024px) {
  .web-dev {
    margin-top: 20px;
    padding: 20px;
    flex-direction: row;
    gap: 20px;
    max-width: 1024px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .web-dev {
    max-width: 1440px;
  }
}
.web-dev__hero {
  background: rgba(114, 67, 201, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 768px) {
  .web-dev__hero {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .web-dev__hero {
    max-height: 1217px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .web-dev__hero {
    padding: 30px;
    max-height: 775px;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .web-dev__hero--small {
    min-width: 50%;
  }
}
@media (min-width: 1440px) {
  .web-dev__hero--small {
    max-height: 2000px;
  }
}
.web-dev__hero-title {
  text-transform: uppercase;
  font-family: "Konkhmer Sleokchher";
  color: #fdfcff;
  font-size: 1.9rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 520px) {
  .web-dev__hero-title {
    padding-top: 20px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .web-dev__hero-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .web-dev__hero-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media (min-width: 1440px) {
  .web-dev__hero-title {
    padding-top: 20px;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .web-dev__hero-text {
    margin-bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .web-dev__hero-text {
    margin-bottom: 10px;
  }
}
.web-dev__hero-subtitle {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  margin-top: 20px;
}
@media (min-width: 520px) {
  .web-dev__hero-subtitle {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .web-dev__hero-subtitle {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .web-dev__hero-subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .web-dev__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.web-dev__content-card {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  border-radius: 10px;
}
@media (min-width: 768px) {
  .web-dev__content-card {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .web-dev__content-card {
    margin-top: 0;
    background-color: #fdfcff;
    padding: 16px;
  }
}
.web-dev__content-card-title {
  text-transform: uppercase;
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  color: #381388;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .web-dev__content-card-title {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.web-dev__content-card-text {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .web-dev__content-card-text {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .web-dev__content-card-text {
    padding: 20px 0;
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .web-dev__content-card-text {
    font-size: 1.25rem;
  }
}
.web-dev__content-card-list {
  margin-top: 20px;
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .web-dev__content-card-list {
    text-align: start;
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .web-dev__content-card-list {
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .web-dev__content-card-list {
    font-size: 1.25rem;
  }
}
.web-dev__content-card-list-item {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
@media (min-width: 768px) {
  .web-dev__content-card-list-item {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .web-dev__content-card-list-item {
    padding: 5px;
  }
}
@media (min-width: 1440px) {
  .web-dev__content-card-list-item {
    line-height: 1.5rem;
  }
}
.web-dev__content-card-list-item-icon svg {
  width: 20px;
}
@media (min-width: 768px) {
  .web-dev__content-card-list-item-icon svg {
    width: 40px;
  }
}
.web-dev__content-card--last {
  box-shadow: none;
  padding: 0;
}
@media (min-width: 1024px) {
  .web-dev__content-card--last {
    padding: 20px;
    max-width: 1024px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .web-dev__content-card--last {
    max-width: 1440px;
  }
}
.web-dev__content-card--last-item {
  margin: 0 16px 50px 16px;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 1024px) {
  .web-dev__content-card--last-item {
    margin: 0 20px 50px 20px;
    max-width: 1024px;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .web-dev__content-card--last-item {
    max-width: 1440px;
  }
}
@media (min-width: 1024px) {
  .web-dev__content-card--last--other {
    padding: 20;
  }
}
.web-dev__content-cta {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .web-dev__content-cta {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .web-dev-bis {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.page-container {
  opacity: 0;
  animation: fade-in 0.8s ease-out forwards;
}

/* Animación fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.legal-notice {
  background-color: rgba(114, 67, 201, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .legal-notice {
    padding: 50px;
    margin: 20px;
  }
}
@media (min-width: 1024px) {
  .legal-notice {
    padding: 70px;
    margin: 30px;
  }
}
.legal-notice__title {
  text-transform: uppercase;
  font-family: "Raleway Variable";
  color: #fdfcff;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .legal-notice__title {
    font-size: 4.6rem;
  }
}
.legal-notice__section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.legal-notice__section-title {
  font-family: "Raleway Variable";
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .legal-notice__section-title {
    font-size: 2rem;
  }
}
.legal-notice__content {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .legal-notice__content {
    font-size: 1.125rem;
  }
}
.legal-notice__list {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .legal-notice__list {
    font-size: 1.125rem;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  gap: 30px;
  padding: 0 16px;
  text-align: center;
}
.error_title {
  text-transform: uppercase;
  font-family: "Raleway Variable";
  font-size: 4rem;
  color: #fdfcff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  text-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
}
@media (min-width: 768px) {
  .error_title {
    font-family: "Raleway Variable";
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  .error_title {
    font-size: 12rem;
    text-align: start;
    display: flex;
    justify-content: center;
  }
}
.error_title--sent {
  font-size: 2rem;
}
.error_text {
  font-family: "Ropa Sans";
  font-size: 1rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .error_text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 1440px) {
  .error_text {
    font-size: 1.5rem;
  }
}
.error_button {
  font-family: Ropa Sans;
  background-color: #641eff;
  color: #fdfcff;
  padding: 10px 20px 10px 20px;
  border-radius: 35px;
  box-shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 768px) {
  .error_button {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .error_button {
    font-size: 1.8rem;
  }
}
.error_button:hover {
  background-color: #bbff00;
  color: #641eff;
}
.error_button:active {
  background-color: #b7aaff;
  color: #641eff;
}

/* Estilos globales */
:root {
  font-family: "Ropa Sans", "Raleway Variable", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/Astra2.png");
  background-size: 100vw 70vh;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fdfcff;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    background-size: 100vw 70vh;
  }
}
@media (min-width: 1024px) {
  body {
    background-size: 100vw 85vh;
  }
}
@media (min-width: 1440px) {
  body {
    background-size: 100vw 90vh;
  }
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;/*# sourceMappingURL=global.css.map */