@use './variables.scss' as *;

.hamburger {
	padding: 10px 15px 0 0;
	cursor: pointer;

	@media (min-width: $bp-s) {
		display: none;
	}
}

.hamburger .line {
	display: block;
	width: 30px;
	height: 3px;
	margin-bottom: 10px;
	background-color: $white;
}
