@use 'sass:map';
@use './variables.scss' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (min-width: $bp-m) {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__text {
		font-family: map.get($paragraph, 'font-family');
		font-size: 0.8rem;
		color: map.get($paragraph, 'color');
		line-height: map.get($paragraph, 'line-height');

		@media (min-width: $bp-l) {
			font-size: map.get($paragraph-desktop, 'font-size');
			line-height: map.get($paragraph-desktop, 'line-height');
		}
	}
}

.navigation {
	background-color: $bg-white;
	border: 1px solid $white;
	border-radius: 50px;
	width: 100%;
	box-shadow: $shadow;

	&__container {
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-right: 10px;
		@media (min-width: $bp-m) {
			flex-wrap: nowrap;
			padding: 0;
		}

		&-logo {
			order: 0;
			position: relative;
			width: 70px;

			@media (min-width: $bp-m) {
				width: 150px;
			}
		}
		&-toggle {
			display: none;
		}
		&-button {
			display: flex;
			align-items: center;
			cursor: pointer;
			justify-content: flex-end;
			&--open {
				display: block;
			}

			&-icon {
				width: 30px;
				height: 30px;
				fill: $white;

				@media (min-width: $bp-m) {
					display: none;
				}
			}
		}

		&-menu {
			position: fixed;
			top: 0;
			left: -850px;
			width: 100%;
			height: 100%;
			background-color: $white;
			color: rgb(0, 0, 0);
			transition: left 0.3s ease;
			z-index: 1000;

			@media (min-width: $bp-m) {
				display: flex;
				position: static;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin: 0;
				gap: 30px;
				padding: 0;
				cursor: pointer;
				background-color: transparent;
			}

			&-item {
				font-weight: 600;
				padding: 10px;
				position: relative;

				&:hover {
					color: $purple; /* Cambiar color al hover */
				}
				&-close {
					display: none; /* Ocultar la "X" inicialmente */
					text-align: right;
					margin: 20px;

					& svg {
						fill: $black;
					}

					@media (min-width: $bp-m) {
						display: none;
					}
				}
			}

			&-button {
				display: block;
				@media (min-width: $bp-m) {
					display: none;
				}
			}

			&-itemsMap {
				padding: 5px;

				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				@media (min-width: $bp-m) {
				}

				&-link {
					font-size: 0.8rem;
					text-align: center;
					color: rgb(0, 0, 0);
					text-decoration: none;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					font-weight: 600;
					text-transform: uppercase;
					width: 100px;

					@media (min-width: $bp-m) {
						display: flex;
						flex-direction: row;
						font-weight: 400;
						color: $white;
						width: auto;

						&:hover {
							color: $purple;
						}
					}
					

					@media (min-width: $bp-l) {
						font-size: map.get($paragraph-desktop, 'font-size');
					}
				}

				&-linkSubmenu {
					padding: 2px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					text-transform: uppercase;
					text-align: start;

					@media (min-width: $bp-m) {
						&:hover {
							color: $blueDark;
							background-color: $purple;
						}
					}
				}
				&-arrow {
					width: 20px;
					height: 20px;
					margin-left: 8px;
					transition: transform 0.3s ease;

					@media (min-width: $bp-m) {
						margin: 3px 0 0 0;
						fill: white;
					}
				}
			}
		}
		/* Cuando el menú está abierto (checkbox marcado) */
		&-toggle:checked ~ .navigation__container-menu {
			left: 0; /* Mostrar menú */
		}

		/* Mostrar la "X" para cerrar el menú cuando el checkbox está marcado */
		&-toggle:checked ~ .navigation__container-menu .navigation__container-menu-item-close {
			display: block; /* La "X" se hace visible */
		}

		/* Ocultar la hamburguesa cuando el menú está abierto */
		&-toggle:checked ~ .navigation__container-button--open {
			display: none;
		}

		/* Mostrar la "X" cuando el menú está abierto */
		&-toggle:checked ~ .navigation__container-button--close {
			display: block;
		}

		&-submenu {
			opacity: 0; /* Lo hacemos invisible */
			max-height: 0;
			overflow: hidden;
			transition: opacity 0.5s ease, max-height 0.5s ease;
			display: block; /* Se mantiene el display como block, pero la visibilidad se controla con opacidad y desplazamiento */
			transform: translateY(-20px); /* Lo colocamos un poco hacia arriba */

			&.open {
				padding-top: 30px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				opacity: 1;
				max-height: 450px; /* Altura máxima para desplegar */
				transition: opacity 0.5s ease, max-height 0.5s ease;
			}

			@media (min-width: 768px) {
				position: absolute;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

				&.open {
					background-color: $white;
					padding-top: 10px;
					margin-top: 30px;
					padding-bottom: 10px;
				}

				&-item {
					padding: 5px;
					cursor: pointer;
					padding: 5px 10px 5px 10px;
					font-weight: 400;
					@media (min-width: $bp-m) {
						width: 300px;
					}
				}
			}
		}
	}
}

/* button contact CTA */
.button-header {
	display: none;
	@media (min-width: $bp-m) {
		display: flex;
		width: 300px;
		justify-content: center;
		// align-items: center;
		// gap: 15px;
	}
	@media (min-width: $bp-l) {
		display: flex;
		width: 400px;
		justify-content: center;
		// align-items: center;
		// gap: 15px;
	}
}
