@use 'sass:map';
@use './variables.scss' as *;

.sectionHero {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0 20px;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    padding: 40px 120px;
    gap: 20px;
  }

  @media (min-width: 1024px) {
    max-width: 904px;
  }

  @media (min-width: 1440px) {
    padding-top: 100px;
    max-width: 1024px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }

    &-text {
      flex: 1;
      order: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width: 768px) {
        flex: 0 0 60%;
        order: 1;
      }

      @media (min-width: 1024px) {
        flex: 0 0 60%;
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &-description {
      font-family: $font-primary;
      font-size: map.get($Body-mobile, 'font-size');
      line-height: map.get($Body-mobile, 'line-height');
      font-weight: map.get($Body-mobile, 'font-weight');
      letter-spacing: map.get($Body-mobile, 'letter-spacing');
      color: $text-bg-color;

      @media (min-width: 768px) {
        font-size: map.get($Body-tablet, 'font-size');
        line-height: map.get($Body-tablet, 'line-height');
        font-weight: map.get($Body-tablet, 'font-weight');
        letter-spacing: map.get($Body-tablet, 'letter-spacing');
      }

      @media (min-width: 1024px) {
        font-size: map.get($Body-desktop, 'font-size');
        line-height: map.get($Body-desktop, 'line-height');
        font-weight: map.get($Body-desktop, 'font-weight');
        letter-spacing: map.get($Body-desktop, 'letter-spacing');
      }

      @media (min-width: 1440px) {
        font-size: map.get($Body-desktop-xl, 'font-size');
        line-height: map.get($Body-desktop-xl, 'line-height');
        font-weight: map.get($Body-desktop-xl, 'font-weight');
        letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
      }
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    order: 1;

    @media (min-width: 768px) {
      flex: 0 0 50%;
      order: 2;
      justify-content: center;
    }
    @media (min-width: 1024px) {
      flex: 0 0 40%;
      order: 2;
      justify-content: flex-end;
    }
    &-item {
      max-width: 80%;
      height: auto;

      @media (min-width: 768px) {
        max-width: 70%;
      }

      @media (min-width: 1024px) {
        max-width: 100%;
      }
    }
  }

  &__buttons {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
    }
    @media (min-width: 1024px) {
      display: flex;
      width: 100%;
      gap: 20px;
      align-items: flex-start;
    }
  }
}
