@use 'sass:map';
@use './variables.scss' as *;

.landing {
  padding: 30px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 60px 120px 0 120px;
  }

  @media (min-width: 1024px) {
    padding: 120px 0 0 0;
    max-width: 904px;
    margin: 0 auto;
  }
}

.beneficios {
  @media (min-width: 1024px) {
    padding-top: 20px;
    max-width: 904px;
    margin: 0 auto;
  }
}

.incluye {
  &__title {
    @media (min-width: 1024px) {
      display: flex;
      gap: 80px;
    }

    & img {
      border-radius: 15px;
      box-shadow: $shadow;

      @media (min-width: 768px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      @media (min-width: 1024px) {
        max-width: 400px;
      }
    }
  }

  &__numbers {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
      padding-top: 50px;
    }
  }
}

.cuando {
  &__title {
    padding: 0 20px;

    @media (min-width: 768px) {
      padding: 60px 120px 0 120px;
    }

    @media (min-width: 768px) {
      padding: 120px 0 0 0;
      max-width: 904px;
      margin: 0 auto;
    }
  }

  &__table {
    padding-bottom: 60px;

    @media (min-width: 768px) {
      margin-top: 20px;
      padding-bottom: 0;
    }
  }
}

.preguntas {
  @media (min-width: 1024px) {
    padding: 0;
    max-width: 904px;
    margin: 0 auto;
  }
}
