@use 'sass:map';
@use './variables.scss' as *;

.legal-notice {
  padding: 1.25rem;
  margin: 0.625rem;
  border-radius: 0.625rem;

  &__title {
    text-transform: uppercase;

    font-size: 2rem;
  }

  &__section {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;

    &-title {
      margin-bottom: 0.625rem;
    }
  }

  &__content {
    color: $text-bg-white;

    margin-bottom: 0.625rem;
  }

  &__list {
    color: $text-bg-white;
  }
}
