@use 'sass:map';
@use './variables.scss' as *;

.legal-notice {

	padding: 20px;
	margin: 10px;
	border-radius: 10px;


	&__title {
		text-transform: uppercase;


		font-size: 2rem;

		
	}

	&__section {
		margin-top: 10px;
		margin-bottom: 10px;

		&-title {

			margin-bottom: 10px;


		}
	}

	&__content {

		color: $text-bg-white;

		margin-bottom: 10px;

	}

	&__list {

		color: $text-bg-white;



	}
}
