@use './variables.scss' as *;

.logo {
  max-width: 2.5rem;
  @media (min-width: 48rem) {
    max-width: 3.75rem;
  }
  @media (min-width: 64rem) {
    max-width: 5rem;
  }
  @media (min-width: 90rem) {
    max-width: 5rem;
  }
}
