@use 'sass:map';
@use './variables.scss' as *;

.mainHome {
  background-image: url('/src/images/backgroundWhiteB.jpg');
  background-repeat: no-repeat;
  background-size: cover; // llena todo el ancho SIEMPRE
  background-position: center top; // centra la imagen
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    background-size: auto; // no fuerza escalado
    background-position: center top; // muestra solo el trozo visible
  }
  @media (max-width: 1440px) {
    background-size: cover;
    background-position: center;
  }
}

.timeline-section {
}

.section-prices {
  background-color: $blue-secondary;
  width: 100%;
  padding: 30px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 60px 0 0 0;
  }

  &-header {
    text-align: left;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      text-align: center;
    }
    @media (min-width: 1024px) {
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
