@use 'sass:map';
@use './variables.scss' as *;

.mainHome {
  background-image: url('/src/images/backgroundWhiteB.jpg');
  background-repeat: no-repeat;
  background-size: cover; // llena todo el ancho SIEMPRE
  background-position: center top; // centra la imagen
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 48rem) {
    background-size: auto; // no fuerza escalado
    background-position: center top; // muestra solo el trozo visible
  }
  @media (max-width: 90rem) {
    background-size: cover;
    background-position: center;
  }
}

.section-prices {
  background-color: $blue-secondary;
  width: 100%;
  padding: 1.875rem 1.25rem 0 1.25rem;

  @media (min-width: 48rem) {
    padding: 3.75rem 0 0 0;
  }

  &-header {
    text-align: left;
    padding-bottom: 1.25rem;

    @media (min-width: 48rem) {
      text-align: center;
    }
    @media (min-width: 64rem) {
      padding-top: 3.75rem;
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }
  }
}
