.why-web-mantenimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 60px 120px 0 120px;
  }

  @media (min-width: 1024px) {
    padding: 120px 0 0 0;
    max-width: 904px;
    margin: 0px auto;
  }

  @media (min-width: 1440px) {
    max-width: 1024px;
  }
}

.estrategia {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.incluye {
  padding-bottom: 0rem;
}

.faqs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 1.25rem 0rem 1.25rem;

  @media (min-width: 768px) {
    padding: 3.75rem 7.5rem 0rem 7.5rem;
  }

  @media (min-width: 1024px) {
    padding: 3.75rem 0rem;
    max-width: 904px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1024px;
    margin: 0 auto;
  }
}
