@use 'sass:map';
@use './variables.scss' as *;

.sectionNuestrosServicios {
  padding: 3.75rem 1.25rem 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @media (min-width: 48rem) {
    padding: 3.75rem 7.5rem 0 7.5rem;
  }
  @media (min-width: 64rem) {
    padding: 7.5rem 0 0 0;
    max-width: 56.5rem;
    margin: 0 auto;
    gap: 1.25rem;
  }
  @media (min-width: 90rem) {
    padding: 7.5rem 0 0 0;
    max-width: 64rem;
    gap: 1.25rem;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    @media (min-width: 64rem) {
      gap: 1.25rem;
    }

    &-text {
      font-size: map.get($Body-mobile, 'font-size');
      line-height: map.get($Body-mobile, 'line-height');
      font-weight: map.get($Body-mobile, 'font-weight');
      letter-spacing: map.get($Body-mobile, 'letter-spacing');
      color: $text-bg-color;

      @media (min-width: 48rem) {
        font-size: map.get($Body-tablet, 'font-size');
        line-height: map.get($Body-tablet, 'line-height');
        font-weight: map.get($Body-tablet, 'font-weight');
        letter-spacing: map.get($Body-tablet, 'letter-spacing');
      }

      @media (min-width: 64rem) {
        font-size: map.get($Body-desktop, 'font-size');
        line-height: map.get($Body-desktop, 'line-height');
        font-weight: map.get($Body-desktop, 'font-weight');
        letter-spacing: map.get($Body-desktop, 'letter-spacing');
      }

      @media (min-width: 90rem) {
        font-size: map.get($Body-desktop-xl, 'font-size');
        line-height: map.get($Body-desktop-xl, 'line-height');
        font-weight: map.get($Body-desktop-xl, 'font-weight');
        letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
      }
    }
  }
  &__paraNegocios {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 64rem) {
      position: relative;
      min-height: 31.25rem;
    }

    &-img {
      width: 90%;
      height: auto;

      @media (min-width: 64rem) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: 1;
        /* TAMAÑO MÁS PEQUEÑO - AJUSTA ESTOS VALORES */
        width: 100%; // En lugar de 100% (más pequeña)
        max-width: 37.5rem; // Límite máximo opcional
        height: auto; // Mantiene proporción
        object-fit: contain; // Muestra toda la imagen sin recortar
      }
    }
    &-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.62rem;

      @media (min-width: 64rem) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
      }
    }
    &-card {
      position: relative;
      z-index: 1; // Aseguramos que las cards estén sobre la imagen
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 64rem) {
        flex-direction: column;
        justify-content: center;
        margin-top: 0; // Quitamos el margen superior anterior
        padding: 1.25rem; // Espaciado para que no toquen bordes
        width: 20rem;
      }
      @media (min-width: 90rem) {
        width: 23.75rem;
      }
      &-title {
        font-size: map.get($Body-mobile, 'font-size');
        line-height: map.get($Body-mobile, 'line-height');
        font-weight: 600;
        letter-spacing: map.get($Body-mobile, 'letter-spacing');
        color: $text-bg-color;

        @media (min-width: 48rem) {
          font-size: map.get($Body-tablet, 'font-size');
          line-height: map.get($Body-tablet, 'line-height');
          font-weight: map.get($Body-tablet, 'font-weight');
          letter-spacing: map.get($Body-tablet, 'letter-spacing');
        }

        @media (min-width: 64rem) {
          font-size: map.get($Body-desktop, 'font-size');
          line-height: map.get($Body-desktop, 'line-height');
          font-weight: map.get($Body-desktop, 'font-weight');
          letter-spacing: map.get($Body-desktop, 'letter-spacing');
        }

        @media (min-width: 90rem) {
          font-size: map.get($Body-desktop-xl, 'font-size');
          line-height: map.get($Body-desktop-xl, 'line-height');
          font-weight: map.get($Body-desktop-xl, 'font-weight');
          letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
        }
      }
      &-line {
        width: 100%;
        height: 0.063rem;
        background-color: $blue-primary;
        margin-bottom: 0.313rem;

        @media (min-width: 64rem) {
          width: 100%;
          height: 0.125rem;
          margin-bottom: 0.313rem;
        }
      }
      &-white {
        background-color: $cardWhite;
        padding: 1.25rem;
        border-bottom-left-radius: 0.9rem;
        border-bottom-right-radius: 0.9rem;
        box-shadow: $shadow;
        width: 100%;

        @media (min-width: 64rem) {
          width: 20rem;
        }

        @media (min-width: 90rem) {
          width: 23.75rem;
        }

        &-text {
          font-size: map.get($Body-mobile, 'font-size');
          line-height: map.get($Body-mobile, 'line-height');
          font-weight: map.get($Body-mobile, 'font-weight');
          letter-spacing: map.get($Body-mobile, 'letter-spacing');
          color: $text-bg-white;

          @media (min-width: 48rem) {
            font-size: map.get($Body-tablet, 'font-size');
            line-height: map.get($Body-tablet, 'line-height');
            font-weight: map.get($Body-tablet, 'font-weight');
            letter-spacing: map.get($Body-tablet, 'letter-spacing');
          }

          @media (min-width: 64rem) {
            font-size: map.get($Body-desktop, 'font-size');
            line-height: map.get($Body-desktop, 'line-height');
            font-weight: map.get($Body-desktop, 'font-weight');
            letter-spacing: map.get($Body-desktop, 'letter-spacing');
          }

          @media (min-width: 90rem) {
            font-size: map.get($Body-desktop-xl, 'font-size');
            line-height: map.get($Body-desktop-xl, 'line-height');
            font-weight: map.get($Body-desktop-xl, 'font-weight');
            letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
          }
        }
      }
    }
  }

  &__button {
    margin-top: 1.25rem;
    padding: 0.625rem 0;

    @media (min-width: 48rem) {
      display: flex;
      justify-content: end;
    }

    @media (min-width: 64rem) {
      margin: 0;
    }

    & div {
      @media (min-width: 48rem) {
        max-width: 17.25rem;
      }
    }
  }
}

.cardNuestrosServicios {
  width: 100%;

  @media (min-width: 64rem) {
    width: 20rem;
  }
  @media (min-width: 90rem) {
    width: 23.75rem;
  }
}
