@use 'sass:map';
@use './variables.scss' as *;

.incluye {
  padding: 60px 20px 0 20px;
  &__title {
    display: block;
  }

  @media (min-width: 768px) {
    padding: 60px 120px 0 120px;
  }

  @media (min-width: 1024px) {
    padding: 120px 0 0 0;
    max-width: 904px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1024px;
  }
}

.banner {
  margin-top: 30px;
}
