@use 'sass:map';
@use './variables.scss' as *;

.sectionPorqNecesitoWeb {
  padding: 1.875rem 1.25rem 0 1.25rem;
  font-size: map.get($Body-mobile, 'font-size');
  line-height: map.get($Body-mobile, 'line-height');
  font-weight: map.get($Body-mobile, 'font-weight');
  letter-spacing: map.get($Body-mobile, 'letter-spacing');
  color: $text-bg-color;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  @media (min-width: 48rem) {
    font-size: map.get($Body-tablet, 'font-size');
    line-height: map.get($Body-tablet, 'line-height');
    font-weight: map.get($Body-tablet, 'font-weight');
    letter-spacing: map.get($Body-tablet, 'letter-spacing');
    padding: 3.75rem 7.5rem 0 7.5rem;
    gap: 1.25rem;
  }

  @media (min-width: 64rem) {
    font-size: map.get($Body-desktop, 'font-size');
    line-height: map.get($Body-desktop, 'line-height');
    font-weight: map.get($Body-desktop, 'font-weight');
    letter-spacing: map.get($Body-desktop, 'letter-spacing');
    max-width: 56.5rem;
    padding: 3.75rem 0 0 0;
    margin: 0 auto;
  }

  @media (min-width: 90rem) {
    font-size: map.get($Body-desktop-xl, 'font-size');
    line-height: map.get($Body-desktop-xl, 'line-height');
    font-weight: map.get($Body-desktop-xl, 'font-weight');
    letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
    max-width: 64rem;
  }
  &__intro {
    display: flex;
    flex-direction: column;

    gap: 0.75rem;

    @media (min-width: 48rem) {
      gap: 1.25rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    gap: 0.625rem;

    @media (min-width: 48rem) {
      gap: 1.25rem;
    }
    &-containerImageText {
      display: flex;
      flex-direction: column;

      gap: 1.25rem;

      @media (min-width: 48rem) {
        gap: 1.25rem;
      }

      @media (min-width: 64rem) {
        display: flex;
        flex-direction: row;
      }

      @media (min-width: 90rem) {
        gap: 3.75rem;
      }

      &-img {
        width: 100%;
        height: 9.375rem;
        border-radius: 15px;
        box-shadow: $shadow;

        @media (min-width: 64rem) {
          width: auto;
          height: auto;
          max-width: 27.625rem;
        }

        @media (min-width: 90rem) {
          max-width: 31.375rem;
          max-height: 11.375rem;
        }
      }
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    @media (min-width: 64rem) {
      gap: 1.25rem;
    }
  }
}
