@use 'sass:map';
@use './variables.scss' as *;

.web-dev {
	display: flex;
	flex-direction: column;
	padding: 16px;


	@media (min-width: $bp-l) {
		margin-top: 20px;
		padding: 20px;
		flex-direction: row;
		gap: 20px;
		max-width: 1024px;
		margin:auto;
	}
	@media (min-width: $bp-xl) {
		max-width: 1440px;
		
	}

	&__hero {
		background: $services-hero-purple;
		border-radius: 10px;
		padding: 10px;
		box-shadow: $shadow;

		@media (min-width: $bp-m) {
			padding: 0 30px;
		}

		@media (min-width: $bp-l) {
			// min-width: 50%;
			max-height: 1217px;
			// padding: 5px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}

		@media (min-width: $bp-xl) {
			padding: 30px;
			max-height: 775px;
			justify-content: space-between;
		}

		&--small {
			@media (min-width: $bp-l) {
				min-width: 50%;
			}

			@media (min-width: $bp-xl) {
				max-height: 2000px;
			}
		}

		&-title {
			text-transform: uppercase;
			font-family: map.get($h1bold, 'font-family');
			color: map.get($h1bold, 'color');
			font-size: 1.9rem;
			//letter-spacing: map.get($h1bold, 'letter-spacing');
			line-height: 2.5rem;
			font-weight: bold;
			text-shadow: $shadow;

			@media (min-width: $bp-s) {
				padding-top: 20px;
				margin-bottom: 30px;
			}

			@media (min-width: $bp-m) {
				font-size: 3rem;
				line-height: 3.5rem;
			}

			@media (min-width: $bp-l) {
				font-size: 3.5rem;
				//letter-spacing: map.get($h1bold-desktop, 'letter-spacing');
				line-height: 4rem;
				// padding-top: 60px;
			}

			@media (min-width: $bp-xl) {
				padding-top: 20px;
				font-size: 3.5rem;
				line-height: 4.5rem;
			}
		}

		&-text {
			@media (min-width: $bp-l) {
				margin-bottom: 100px;
			}
			@media (min-width: $bp-xl) {
				margin-bottom: 10px;
			}
		}

		&-subtitle {
			font-family: map.get($paragraph, 'font-family');
			font-size: map.get($paragraph, 'font-size');
			color: map.get($paragraph, 'color');
			line-height: map.get($paragraph, 'line-height');
			margin-top: 20px;

			@media (min-width: $bp-s) {
				margin-bottom: 30px;
			}

			@media (min-width: $bp-l) {
				font-size: map.get($paragraph-desktop, 'font-size');
				line-height: map.get($paragraph-desktop, 'line-height');
			}

			@media (min-width: $bp-xl) {
				font-size: map.get($paragraph-desktop-xl, 'font-size');
			}
		}
	}

	&__content {
		@media (min-width: $bp-l) {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&-card {
			margin-top: 30px;
			padding: 10px;
			text-align: center;
			box-shadow: $shadow;
			border-radius: 10px;

			@media (min-width: $bp-m) {
				padding: 20px;
			}

			@media (min-width: $bp-l) {
				margin-top: 0;
				// margin-bottom: 20px;
				background-color: $white;
				padding: 16px;
			}

			&-title {
				text-transform: uppercase;
				font-family: map.get($h2, 'font-family');
				font-size: map.get($h2, 'font-size');
				color: map.get($h2, 'color');
				margin-bottom: 20px;

				@media (min-width: $bp-l) {
					margin-bottom: 0;
					font-size: map.get($h2-desktop, 'font-size');
				}
			}

			&-text {
				font-family: map.get($paragraph, 'font-family');
				font-size: map.get($paragraph, 'font-size');
				color: map.get($paragraph, 'color');
				line-height: map.get($paragraph, 'line-height');

				@media (min-width: $bp-m) {
					padding: 20px;
				}

				@media (min-width: $bp-l) {
					padding: 20px 0;
					font-size: map.get($paragraph-desktop, 'font-size');
					line-height: map.get($paragraph-desktop, 'line-height');
				}

				@media (min-width: $bp-xl) {
					font-size: map.get($paragraph-desktop-xl, 'font-size');
				}
			}

			&-list {
				margin-top: 20px;
				font-family: map.get($paragraph, 'font-family');
				font-size: map.get($paragraph, 'font-size');
				color: map.get($paragraph, 'color');
				line-height: map.get($paragraph, 'line-height');

				@media (min-width: $bp-m) {
					text-align: start;
					padding: 0 20px;
				}

				@media (min-width: $bp-l) {
					padding: 0;
					font-size: map.get($paragraph-desktop, 'font-size');
					line-height: map.get($paragraph-desktop, 'line-height');
				}

				@media (min-width: $bp-xl) {
					font-size: map.get($paragraph-desktop-xl, 'font-size');
				}

				&-item {
					margin-bottom: 10px;
					display: flex;
					gap: 5px;

					@media (min-width: $bp-m) {
						padding: 10px;
					}

					@media (min-width: $bp-l) {
						padding: 5px;
					}

					@media (min-width: $bp-xl) {
						line-height: 1.5rem;
					}

					&-icon {
						svg {
							width: 20px;

							@media (min-width: $bp-m) {
								width: 40px;
							}
						}
					}
				}
			}

			&--last {
				box-shadow: none;
				padding: 0;

				@media (min-width: $bp-l) {
					padding: 20px;
					max-width: 1024px;
					margin: auto;
				}
				@media (min-width: $bp-xl) {
					
					max-width: 1440px;
					
				}
				&-item{
				margin: 0 16px 50px 16px;
					box-shadow: $shadow;

				@media (min-width: $bp-l) {
					margin: 0 20px 50px 20px;
					max-width: 1024px;
					margin: auto;
					
				}
				@media (min-width: $bp-xl) {
					
					max-width: 1440px;
					
				}
				}
				&--other{
					@media (min-width: $bp-l) {
						padding: 20;
						
					}	
				}
			}
		}

		&-cta {
			display: flex;
			justify-content: center;
			margin-top: 40px;
			margin-bottom: 40px;

			@media (min-width: $bp-l) {
				margin: 0;
			}

			// &--mobile {
			// 	@media (min-width: $bp-l) {
			// 		display: none;
			// 	}
			// }

			// &--desktop {
			// 	display: none;

			// 	@media (min-width: $bp-l) {
			// 		display: flex;
			// 	}
			// }
		}
	}

	&-bis {
		//margin: 20px;

		@media (min-width: $bp-l) {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
}
