@use 'sass:map';
@use './variables.scss' as *;

.web-dev {
	display: flex;
	flex-direction: column;
	padding: 16px;

	@media (min-width: $bp-l) {
		padding: 20px;
		flex-direction: row;
		gap: 20px;
	}

	&__hero {
		// background: linear-gradient(to bottom, $blueDark, $purple, $bg-purple);
		background: $services-hero-purple;
		border-radius: 10px;
		padding: 10px;
		box-shadow: $shadow;

		@media (min-width: $bp-l) {
			padding: 0 40px;
		}

		&-title {
			text-transform: uppercase;
			font-family: map.get($h1bold, 'font-family');
			color: map.get($h1bold, 'color');
			font-size: 1.9rem;
			letter-spacing: map.get($h1bold, 'letter-spacing');
			line-height: 2.5rem;
			font-weight: bold;
			text-shadow: $shadow;

			@media (min-width: $bp-l) {
				font-size: 3.5rem;
				letter-spacing: map.get($h1bold-desktop, 'letter-spacing');
				line-height: 4rem;
				padding-top: 60px;
				margin-bottom: 320px;
				text-shadow: none;
			}
		}

		&-subtitle {
			font-family: map.get($paragraph, 'font-family');
			margin-top: 20px;
			color: map.get($paragraph, 'color');

			@media (min-width: $bp-l) {
				font-size: map.get($paragraph-desktop, 'font-size');
			}
		}
	}

	&__content {
		&-card {
			margin-top: 30px;
			padding: 10px;
			text-align: center;
			box-shadow: $shadow;
			border-radius: 10px;

			@media (min-width: $bp-l) {
				margin-top: 0;
				margin-bottom: 20px;
				background-color: $white;
				padding: 16px;
			}

			&-title {
				text-transform: uppercase;
				font-family: map.get($h2, 'font-family');
				font-size: map.get($h2, 'font-size');
				color: map.get($h2, 'color');
				margin-bottom: 20px;
			}

			&-text {
				font-family: map.get($paragraph, 'font-family');
				font-size: map.get($paragraph, 'font-size');
				color: map.get($paragraph, 'color');
				line-height: map.get($paragraph, 'line-height');
			}

			&-list {
				margin-top: 20px;
				font-family: map.get($paragraph, 'font-family');
				font-size: map.get($paragraph, 'font-size');
				color: map.get($paragraph, 'color');
				line-height: map.get($paragraph, 'line-height');

				&-item {
					margin-bottom: 10px;
					display: flex;
					gap: 5px;

					&-icon {
						svg {
							width: 20px;
						}
					}
				}
			}
		}

		&-cta {
			display: flex;
			justify-content: center;
			margin-top: 40px;
			margin-bottom: 40px;

			&--mobile {

				@media (min-width: $bp-m) {
					display: none;
				}
			}

			&--desktop {
				display: none;

				@media (min-width: $bp-m) {
					display: flex;
				}
			}
		}
	}
}
