@use 'sass:map';
@use './variables.scss' as *;

.projects-card {
	position: relative;
	overflow: hidden;

	&__image {
		display: block;
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	&__corner {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100px;
		height: 100px;
		background: $corner-blueDark;
		clip-path: polygon(100% 0, 100% 100%, 0% 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}

		& img {
			width: 20px;
			height: 20px;
		}
	}

	&__overlay {
		position: absolute;
		inset: 0;
		background: $corner-blueDark;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 16px;
		color: $white;
		transform: translateY(100%);
		transition: transform 0.3s ease-in-out;

		&--visible {
			transform: translateY(0);
		}
	}

	&__pills {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 20px;

		&-pill {
			padding: 0 5px;
			background: transparent;
			color: $white;
			border-radius: 16px;
			border: 1px solid $purple;
			font-family: map.get($h1, 'font-family');
			font-size: 0.9rem;
			box-shadow: $shadow;
			text-align: center;
			width: 130px;
		}
	}

	&__text {
		text-align: center;
		font-family: map.get($paragraph, 'font-family');
		font-size: map.get($paragraph, 'font-size');
		line-height: map.get($paragraph, 'line-heigth');
		margin-bottom: 20px;
	}

	&__button {
		width: 140px;
		text-align: center;
		background: $white;
		color: $cta;
		padding: 2px 20px;
		border-radius: 25px;
		font-family: map.get($h1bold, 'font-family');
		text-transform: uppercase;
		text-decoration: none;
		box-shadow: $shadow;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;

		&:hover {
			background: $purple;
			color: $white;
		}
	}
}
