@use 'sass:map';
@use './variables.scss' as *;

.projects-section {
	&__title {
		text-transform: uppercase;
		font-family: map.get($h2, 'font-family');
		font-size: map.get($h2, 'font-size');
		color: map.get($h2, 'color');
        text-align: center;
		padding-bottom: 20px;
		padding-top: 30px;

		@media (min-width: $bp-m) {
			font-family: map.get($h2-desktop, 'font-family');
			font-size: map.get($h2-desktop, 'font-size');
			color: map.get($h2-desktop, 'color');
		}
		@media (min-width: $bp-l) {
			font-size: map.get($h2-desktop-l, 'font-size');
			text-align: start;
			display: flex;
			justify-content: center;
			padding-top: 70px;
		}
		&-h2{
			@media (min-width: $bp-l) {
				padding: 0 50px;
				display: flex;
				width: 1024px;
			
			}
			@media (min-width: $bp-xl) {
				width: 1440px;
				
			
			}
		}
	}

}
