@use 'sass:map';
@use './variables.scss' as *;

.beneficios {
  padding: 0;
}

.proceso {
  padding: 30px 20px 30px 20px;

  @media (min-width: 768px) {
    padding: 60px 120px 0 120px;
  }

  @media (min-width: 1024px) {
    padding: 120px 0 0 0;
    max-width: 904px;
    margin: 0 auto;
  }
}

.preguntas {
  @media (min-width: 768px) {
    padding: 0 90px;
  }
}
