@use './variables.scss' as *;
@use "sass:map";

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (min-width: $bp-l) {
       // flex-direction: row;
        
    }
    
    

    &__title{
            font-family: map.get($h2, "font-family");
            font-size: map.get($h2, "font-size");
            color: map.get($h2, "color");
             
            padding-top: 30px; 
            text-align: center;  
            width: 100%;
            @media (min-width: $bp-m) {
                font-family: map.get($h2-desktop, "font-family");
                font-size: map.get($h2-desktop, "font-size");
                color: map.get($h2-desktop, "color");
                
                
             }
             @media (min-width: $bp-l) {
                font-family: map.get($h2-desktop-l, "font-family");
                font-size: map.get($h2-desktop-l, "font-size");
                color: map.get($h2-desktop-l, "color");
                text-align: start;
                padding-left: 96px;
                padding-top: 50px;
             }
    }
    &__container{
        width: 100vw;
        height: 110%;
        display: flex;
        justify-content: center;
        margin: 0;
        background: linear-gradient(
        180deg,
        #FFFFFF 0%, 
        #CDB0F4 30%,
        #9E63EA 40%, 
        #5E30B2 45%, 
        #301B5D 50%, 
        #5E30B2 55%, 
        #9E63EA 60%, 
        #CDB0F4 70%,
        #FFFFFF 100%
        
    );
       
        &-cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px 10px;
            padding: 20px 0 20px 0;
            flex-wrap: wrap;
            background-size: 100vw;
            align-content: center;
            @media (min-width: $bp-l) {
                padding: 20px 16px 20px 16px;
                flex-direction: row;
                max-width: 1440px;
                gap: 24px;
             
            }
        
            &-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $white ;
                border: 1px solid $purple;
                box-shadow: $shadow;
                border-radius: 10px;
                background-color: $backgroundContainer;
                padding: 20px 16px 20px 16px;
                gap: 5px;
                width: 95vw;
                flex-grow: 1; /* Hace que todos los items crezcan igual al mismo ritmo */
                max-width: 100vw; /* Limita el ancho máximo de cada caja */
                min-height: 100px; /* Altura mínima para que las cajas tengan un tamaño uniforme */
                
                
                @media (min-width: $bp-l) {
                    width: 45%; /* 2 cajas por fila en pantallas grandes */
                    max-width: 800px; /* Limita el ancho máximo */
                    min-height: 280px; /* Ajusta la altura mínima en pantallas grandes */
                    
                    flex-direction: row;
                    gap: 10px;
                    display: flex;
                    align-items: start;
                    padding: 20px;
                    
                }
                @media (min-width: $bp-xl) {
                    
                    padding: 20px 10px 20px 10px;
                    min-height: 200px; /* Ajusta la altura mínima en pantallas grandes */
                    
                }
                &-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center; /* Ícono centrado verticalmente en móvil */
                    width: 50px;
                    height: auto;
                    @media (min-width: $bp-l) {
                        //align-self: baseline; 
                        
                    }
                    
                }
                &-text{
                    
                    @media (min-width: $bp-l) {
                        max-width: 420px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                     }
                     @media (min-width: $bp-xl) {
                        max-width: 600px;
                     }
                    &-title{
                        font-family: map.get($h3, "font-family");
                        font-size: map.get($h3, "font-size");
                        color: map.get($h3, "color");
                        font-weight: map.get($h3, "font-weight");
                        text-align: center;
                        @media (min-width: $bp-m) {
                            font-family: map.get($h3-desktop, "font-family");
                            font-size: map.get($h3-desktop-services, "font-size");
                            color: map.get($h3-desktop, "color");
                            font-weight: map.get($h3-desktop, "font-weight");
                           // text-align: start;
                            
                         }
                         @media (min-width: $bp-l) {
                            font-family: map.get($h3-desktop, "font-family");
                            font-size: map.get($h3-desktop, "font-size");
                            color: map.get($h3-desktop, "color");
                            font-weight: map.get($h3-desktop, "font-weight");
                            text-align: start;
                            
                         }
                         
                    }
        
                    &-paragraph {
                        font-family: map.get($paragraph, "font-family");
                        font-size: map.get($paragraph, "font-size");
                        color: map.get($paragraph, "color");
                        line-height: map.get($paragraph, "line-height");
                        text-align: center;
                        padding: 0 16px 0 16px; 
                        display: none;
        
                        @media (min-width: $bp-l) {
                            display: flex;
                            font-family: map.get($paragraph-desktop, "font-family");
                            font-size: map.get($paragraph-desktop, "font-size");
                            color: map.get($paragraph-desktop, "color");
                            line-height: map.get($paragraph-desktop, "line-height");
                            text-align: start;
                            padding: 0 5px 0 0;
                        }
                    }
        }

            
            
        }}
    }
}

.services__container-cards-item svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
    @media (min-width: $bp-l) {
        width: 45px;
        height: 45px;
    }  
    @media (min-width: $bp-xl) {
        width: 60px;
        height: 60px;
    } 
  }
  
  .services__container-cards-item {
    color: $purple;  /* Establece el color que desees */
  }