@use 'sass:map';
@use './variables.scss' as *;

.servicesHome {
  padding: 1.875rem 1.25rem 0 1.25rem;
  font-size: map.get($Body-mobile, 'font-size');
  line-height: map.get($Body-mobile, 'line-height');
  font-weight: map.get($Body-mobile, 'font-weight');
  letter-spacing: map.get($Body-mobile, 'letter-spacing');
  color: $text-bg-color;
  display: flex;
  gap: 0.625rem;
  flex-direction: column;

  @media (min-width: 48rem) {
    font-size: map.get($Body-tablet, 'font-size');
    line-height: map.get($Body-tablet, 'line-height');
    font-weight: map.get($Body-tablet, 'font-weight');
    letter-spacing: map.get($Body-tablet, 'letter-spacing');
    padding: 0 7.5rem;
    gap: 1.25rem;
  }

  @media (min-width: 64rem) {
    font-size: map.get($Body-desktop, 'font-size');
    line-height: map.get($Body-desktop, 'line-height');
    font-weight: map.get($Body-desktop, 'font-weight');
    letter-spacing: map.get($Body-desktop, 'letter-spacing');
    max-width: 56.5rem;
    margin-top: 5rem;
    padding: 0;
  }

  @media (min-width: 90rem) {
    font-size: map.get($Body-desktop-xl, 'font-size');
    line-height: map.get($Body-desktop-xl, 'line-height');
    font-weight: map.get($Body-desktop-xl, 'font-weight');
    letter-spacing: map.get($Body-desktop-xl, 'letter-spacing');
    max-width: 64rem;
    padding: 0 0;
    margin-top: 7.5rem;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    text-align: center;

    @media (min-width: 48rem) {
      gap: 1.25rem;
    }
  }
  &__services {
    @media (min-width: 64rem) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto;
      gap: 1.875rem 1.25rem;
      grid-template-areas:
        'containerDesign containerFunc'
        'containerMant containerMant';
      align-items: stretch;
    }

    &-containerDesign {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      grid-area: containerDesign;

      &-card {
        background-color: $cardWhite;
        box-shadow: $shadow;
        border-radius: 15px;
        padding: 1.25rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        position: relative;

        @media (min-width: 48rem) {
          padding: 1.875rem 1.875rem;
        }

        @media (min-width: 64rem) {
          padding: 3.75rem 3.75rem;
          height: 100%;
        }

        &-illustration {
          position: absolute;
          top: 20%; // centrada verticalmente
          left: 0; // pegada al borde izquierdo
          transform: translate(-20%, -60%); // se sale un poco a la izquierda y queda centrada
          width: clamp(80px, 17vw, 220px); // escala fluida
          pointer-events: none;
          z-index: 2;

          @media (min-width: 48rem) {
            transform: translate(-20%, -70%);
          }
          @media (min-width: 64rem) {
            transform: translate(-20%, -70%);
          }
        }
        &-text {
          margin-left: clamp(60px, 12vw, 110px);
        }
        &-btn {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }

      &-services {
        display: flex;
        flex-direction: column;
        padding: 0 1.25rem;
        @media (min-width: 48rem) {
          padding: 0 2.5rem;
        }
      }
    }

    &-containerFunc {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      grid-area: containerFunc;

      &-card {
        background-color: $cardWhite;
        box-shadow: $shadow;
        border-radius: 15px;
        padding: 1.25rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        position: relative;
        @media (min-width: 48rem) {
          padding: 1.875rem 1.875rem;
        }
        @media (min-width: 64rem) {
          padding: 3.75rem 3.75rem;
          height: 100%; // Añadido para igualar altura
        }

        &-illustration {
          position: absolute;
          top: 50%; // centrada verticalmente
          right: 0; // pegada al borde izquierdo
          transform: translate(20%, -150%); // se sale un poco a la izquierda y queda centrada
          width: clamp(80px, 17vw, 160px); // escala fluida
          pointer-events: none;
          z-index: 2;

          @media (min-width: 27.813rem) {
            transform: translate(20%, -100%);
            width: clamp(80px, 17vw, 90px);
          }
          @media (min-width: 48rem) {
            transform: translate(20%, -100%);
            width: clamp(80px, 17vw, 100px);
          }
          @media (min-width: 64rem) {
            width: clamp(80px, 17vw, 200px);
            transform: translate(15%, -95%);
          }
        }
        &-text {
          margin-right: clamp(60px, 12vw, 110px);
        }
        &-btn {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }

      &-services {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0 1.25rem;
        @media (min-width: 48rem) {
          padding: 0 2.5rem;
        }
      }
    }

    &-containerMant {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      grid-area: containerMant;

      &-card {
        background-color: $cardWhite;
        box-shadow: $shadow;
        border-radius: 15px;
        padding: 1.25rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        position: relative;
        @media (min-width: 48rem) {
          padding: 1.875rem 1.875rem;
        }
        @media (min-width: 64rem) {
          padding: 3.75rem 3.75rem;
        }
        &-illustration {
          position: absolute;
          top: 20%; // centrada verticalmente
          left: 0; // pegada al borde izquierdo
          transform: translate(-20%, -60%); // se sale un poco a la izquierda y queda centrada
          width: clamp(80px, 17vw, 220px); // escala fluida
          pointer-events: none;
          z-index: 2;
          @media (min-width: 27.813rem) {
            transform: translate(-20%, -60%);
            width: clamp(80px, 17vw, 90px);
          }
          @media (min-width: 48rem) {
            transform: translate(-20%, -50%);
            width: clamp(80px, 17vw, 100px);
          }
          @media (min-width: 64rem) {
            transform: translate(-25%, -50%);
            width: clamp(80px, 17vw, 180px);
          }
        }
        &-text {
          margin-left: clamp(60px, 12vw, 110px);
        }

        &-btn {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }

      &-services {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0.625rem;

        @media (min-width: 48rem) {
          padding: 0 2.5rem;
          gap: 1.25rem;
        }
        @media (min-width: 64rem) {
          gap: 1.25rem;
          flex-direction: row;
          align-items: flex-end;
        }
        &-links {
          flex: 2;
          display: flex;
          flex-direction: column;
          padding: 0 1.25rem;
          @media (min-width: 48rem) {
            padding: 0 2.5rem 0 0;
          }
        }
        &-cta {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (min-width: 48rem) {
            justify-content: flex-end;
          }

          @media (min-width: 64rem) {
            flex: 2;
          }
        }
      }
    }
  }
}
