@use 'sass:map';
@use './variables.scss' as *;

//social bar oscura, la que aparece en una section
/////<SocialBar className="social-bar--dark" />
//social bar clara, la que aparece en el footer
/////<SocialBar className="social-bar--light" />

.social-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;

    &__title {
       margin-bottom: 5px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        
    }
    &--light {
        color: white;
    
        img {
          filter: brightness(0) invert(1); // iconos blancos
          width: 26px;
          @media (min-width: 768px) {
            width: 28px;
          }
          @media (min-width: 1024px) {
            width: 30px;
          }
          @media (min-width: 1024px) {
            width: 32px;
          }
        }

      }
    
      &--dark {
        color: black;
        img {
            
            width: 42px;
            @media (min-width: 768px) {
              width: 50px;
            }
            @media (min-width: 1024px) {
              width: 56px;
            }
            @media (min-width: 1024px) {
              width: 62px;
            }
      }
    
}}
