@use 'sass:map';
@use './variables.scss' as *;

//social bar oscura, la que aparece en una section
/////<SocialBar className="social-bar--dark" />
//social bar clara, la que aparece en el footer
/////<SocialBar className="social-bar--light" />

.social-bar {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: white;

  &__title {
    margin-bottom: 0.313rem;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
  }
  &--light {
    color: white;

    img {
      filter: brightness(0) invert(1); // iconos blancos
      width: 1.625rem;

      @media (min-width: 48rem) {
        width: 1.75rem;
      }
      @media (min-width: 64rem) {
        width: 1.875rem;
      }
      @media (min-width: 64rem) {
        width: 2rem;
      }
    }
  }

  &--dark {
    color: black;
    img {
      width: 2.625rem;
      @media (min-width: 48rem) {
        width: 3.125rem;
      }
      @media (min-width: 64rem) {
        width: 3.5rem;
      }
      @media (min-width: 64rem) {
        width: 3.875rem;
      }
    }
  }
}
