@use 'sass:map';
@use './variables.scss' as *;

.social-bar {
    margin-top: 20px;
    margin-bottom: 20px;

    &__title {
        font-family: map.get($h1, font-family);
        color: $black;
        margin-bottom: 5px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}