//text
//chat me dice ejemplo de uso:
/*&-h1bold {
            font-family: map.get($h1bold, "font-family");
            font-size: map.get($h1bold, "font-size");
            color: map.get($h1bold, "color");
        }*/

// Colors
$blue-primary: #641eff;
$blue-secondary: #f3f1ff;
$green: #bbff00;
$blue-dark: #1e0e62;
$title-color: #2a1160;
$text-bg-color: rgb(46, 30, 82, 0.95);
$text-bg-white: rgb(46, 30, 82, 0.8);
$links: #6b46c1;
$cardWhite: rgb(255, 255, 255, 0.8);
$gradientViolet: linear-gradient(90deg, #1e0e62 0%, #641eff 66.66%, #641eff 33.33%, #b99aff 100%);
$gradientBlue: linear-gradient(90deg, rgb(30, 14, 98) 0%, rgb(100, 30, 255) 100%);
$gradientButton: linear-gradient(180deg, #641eff 10.96%, #1e0e62 127.4%);
$gradientButtonFlip: linear-gradient(90deg, #641eff 10.96%, #1e0e62 100%);
$gradientBlueVertical: linear-gradient(to top, rgb(30, 14, 98, 0.9) 0%, rgb(100, 30, 255, 0.9) 100%);
// Shadows
$shadow: 0px 1px 40px 0px rgba(42, 17, 96, 0.2);

//fonts
$font-primary: 'Roboto', sans-serif;

//fonts sizes
// -----------------
// MOBILE
// -----------------
$H1-mobile: (
  letter-spacing: 0,
  line-height: 2.688rem,
  font-size: 2.25rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H2-mobile: (
  letter-spacing: 0,
  line-height: 2.188rem,
  font-size: 1.75rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H3-mobile: (
  letter-spacing: 0,
  line-height: 1.625rem,
  font-size: 1.25rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Body-mobile: (
  letter-spacing: 0,
  line-height: 1.563rem,
  font-size: 0.938rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

$SmallText-mobile: (
  letter-spacing: 0.113rem,
  line-height: 1.125rem,
  font-size: 0.75rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Button-mobile: (
  letter-spacing: 0.1em,
  line-height: 1.5rem,
  font-size: 1rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

// -----------------
// TABLET
// -----------------
$H1-tablet: (
  letter-spacing: 0,
  line-height: 3.25rem,
  font-size: 2.75rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H2-tablet: (
  letter-spacing: 0,
  line-height: 2.5rem,
  font-size: 2rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H3-tablet: (
  letter-spacing: 0,
  line-height: 2rem,
  font-size: 1.375rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Body-tablet: (
  letter-spacing: 0.05em,
  line-height: 1.625rem,
  font-size: 1rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

$SmallText-tablet: (
  letter-spacing: 0.08em,
  line-height: 1.563rem,
  font-size: 0.813rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Button-tablet: (
  letter-spacing: 0.08em,
  line-height: 1.5rem,
  font-size: 1rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

// -----------------
// DESKTOP
// -----------------
$H1-desktop: (
  letter-spacing: 0,
  line-height: 3.75rem,
  font-size: 3.25rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H2-desktop: (
  letter-spacing: 0,
  line-height: 2.875rem,
  font-size: 2.375rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H3-desktop: (
  letter-spacing: 0,
  line-height: 2.125rem,
  font-size: 1.5rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Body-desktop: (
  letter-spacing: 0.05em,
  line-height: 1.688rem,
  font-size: 1.063rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

$SmallText-desktop: (
  letter-spacing: 0.1em,
  line-height: 1.313rem,
  font-size: 0.875rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Button-desktop: (
  letter-spacing: 0.1em,
  line-height: 1.5rem,
  font-size: 1.125rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

// -----------------
// DESKTOP XL
// -----------------
$H1-desktop-xl: (
  letter-spacing: 0,
  line-height: 4.25rem,
  font-size: 3.75rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H2-desktop-xl: (
  letter-spacing: 0,
  line-height: 3.25rem,
  font-size: 2.75rem,
  font-weight: 700 // Bold,,,,,,,,,,,,,,,,,,,,,,,,
);

$H3-desktop-xl: (
  letter-spacing: 0,
  line-height: 2.125rem,
  font-size: 1.625rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Body-desktop-xl: (
  letter-spacing: 0.05em,
  line-height: 1.688rem,
  font-size: 1.063rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);

$SmallText-desktop-xl: (
  letter-spacing: 0.1em,
  line-height: 1.313rem,
  font-size: 0.875rem,
  font-weight: 500 // Medium,,,,,,,,,,,,,,,,,,,,,,,,
);

$Button-desktop-xl: (
  letter-spacing: 0.1em,
  line-height: 1.5rem,
  font-size: 1.125rem,
  font-weight: 400 // Regular,,,,,,,,,,,,,,,,,,,,,,,,
);
