//text
//chat me dice ejemplo de uso:
/*&-h1bold {
            font-family: map.get($h1bold, "font-family");
            font-size: map.get($h1bold, "font-size");
            color: map.get($h1bold, "color");
        }*/

// Breakpoints
$bp-xs: 426px;
$bp-s: 520px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1440px;

// Colors
$white: #fdfcff;
$bg-white: rgba($white, 0.05);
$black: #120c23;
$blueDark: #381388;
$corner-blueDark: rgba($blueDark, 0.9);
$cta: #641eff;
$purple: #b7aaff;
$bg-purple: rgba($purple, 0.05);
$services-purple: #7243c9;
$services-hero-purple: rgba($services-purple, 0.2);
$gray: #f3f1ff;
$green: #bbff00;
$backgroundContainer: rgba(214, 208, 255, 0.093);
$cardProjects:rgba(214, 208, 255, 0.1);

// Shadows
$shadow: 0px 2px 2px rgba(18, 12, 35, 0.5);

// Paragraph
$paragraph: (
	font-family: 'Ropa Sans',
	font-size: 0.875rem,
	// 14px
	color: rgba(18, 12, 35, 0.8),
	line-height: 1.25rem // 20px,,,,,,,,
);

$paragraph-desktop: (
	font-family: 'Ropa Sans',
	font-size: 1.125rem,
	// 16px
	color: rgba(18, 12, 35, 0.8),
	line-height: 1.5625rem // 25px,,,,,,,,
);

$paragraph-desktop-xl: (
	font-family: 'Ropa Sans',
	font-size: 1.25rem,
	// 16px
	color: rgba(18, 12, 35, 0.8),
	line-height: 1.5625rem // 25px,,,,,,,,
);

// h1
$h1: (
	font-family: 'Raleway Variable',
	font-size: 2.625rem,
	// 42px
	color: $white,
	letter-spacing: -0.1575rem,
	line-height: 1.5625rem // 25px,,,,,,,
);

$h1-desktop: (
	font-family: 'Raleway Variable',
	font-size: 4.6rem,
	// 96px
	color: $white,
	letter-spacing: -0.1575rem,
);

// h1 especial
$h1bold: (
	font-family: 'Konkhmer Sleokchher',
	font-size: 2.625rem,
	// 42px
	color: $white,
	letter-spacing: -0.1575rem,
);

$h1bold-desktop: (
	font-family: 'Konkhmer Sleokchher',
	font-size: 4.6rem,
	// 96px
	color: $white,
	letter-spacing: -0.1575rem,
);

// h2
$h2: (
	font-family: 'Raleway Variable',
	font-size: 1.5rem,
	// 24px
	color: $blueDark,
);

$h2-desktop: (
	font-family: 'Raleway Variable',
	font-size: 3rem,
	// 48px
	color: $blueDark,
);

// h3
$h3: (
	font-family: 'Raleway Variable',
	font-size: 1.25rem,
	// 20px
	color: $black,
	font-weight: 500,
);

$h3-desktop: (
	font-family: 'Raleway Variable',
	font-size: 2.0625rem,
	// 33px
	color: $black,
	font-weight: 500,
);
$h3-desktop-services: (
	font-family: 'Raleway Variable',
	font-size: 2rem,
	// 33px
	color: $black,
	font-weight: 500,
);

// Small
$small: (
	font-family: 'Ropa Sans',
	font-size: 0.75rem,
	// 12px
	color: rgba(18, 12, 35, 0.8),
	line-height: 1.25rem // 20px,,,,,,,,
);

$small-desktop: (
	font-family: 'Ropa Sans',
	font-size: 0.875rem,
	// 14px
	color: rgba(18, 12, 35, 0.8),
	line-height: 1.25rem // 20px,,,,,,,,
);
