@charset "UTF-8";
/*&-h1bold {
            font-family: map.get($h1bold, "font-family");
            font-size: map.get($h1bold, "font-size");
            color: map.get($h1bold, "color");
        }*/
.workingDesktop__timeline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workingDesktop__timeline-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 40px 16px 16px 16px;
}
.workingDesktop__timeline-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b7aaff;
  z-index: 0;
}
.workingDesktop__timeline-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 155px;
  text-align: center;
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item {
    width: 230px;
  }
}
.workingDesktop__timeline-list-item-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #b7aaff;
  border-radius: 50%;
  z-index: 2;
}
.workingDesktop__timeline-list-item-circle:hover {
  background-color: #bbff00;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-circle {
    top: 93%;
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-circle {
    top: 95%;
  }
}
.workingDesktop__timeline-list-item-circle--bottom {
  top: 16%;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-circle--bottom {
    top: 10%;
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-circle--bottom {
    top: 5%;
  }
}
.workingDesktop__timeline-list-item-circle-circle.active {
  background-color: #bbff00;
  border-color: #fdfcff;
}
.workingDesktop__timeline-list-item:nth-child(odd) {
  transform: translateY(-70px);
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item:nth-child(odd) {
    transform: translateY(-95px);
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item:nth-child(odd) {
    transform: translateY(-100px);
  }
}
.workingDesktop__timeline-list-item:nth-child(even) {
  transform: translateY(58px);
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item:nth-child(even) {
    transform: translateY(70px);
  }
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item:nth-child(even) {
    transform: translateY(80px);
  }
}
.workingDesktop__timeline-list-item-text {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workingDesktop__timeline-list-item-text-title {
  font-family: "Raleway Variable";
  font-size: 1.3rem;
  color: #120c23;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .workingDesktop__timeline-list-item-text-title {
    font-size: 1.9rem;
    text-align: center;
  }
}
.workingDesktop__timeline-list-item-text-paragraph {
  display: flex;
  font-family: "Ropa Sans";
  font-size: 1.125rem;
  color: rgba(18, 12, 35, 0.8);
  line-height: 1.5625rem;
}
@media (min-width: 1024px) {
  .workingDesktop__timeline-list-item-text-paragraph {
    max-width: 200px;
    text-align: center;
  }
}

.workingDesktop__timeline-list-item-circle {
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.workingDesktop__timeline-list-item-circle.active {
  background-color: #bbff00; /* Cambia el color a verde */
}

.workingDesktop__timeline-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b7aaff; /* Color base si no se está haciendo hover */
  z-index: 0;
  transition: background-image 0.3s ease; /* Suaviza el cambio de fondo */
}

.workingDesktop__timeline-list.hover1::before {
  background-image: linear-gradient(to right, #bbff00 10%, #b7aaff 30%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover2::before {
  background-image: linear-gradient(to right, #bbff00 30%, #b7aaff 40%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover3::before {
  background-image: linear-gradient(to right, #bbff00 50%, #b7aaff 60%, #b7aaff 70%);
}

.workingDesktop__timeline-list.hover4::before {
  background-image: linear-gradient(to right, #bbff00 60%, #b7aaff 70%, #b7aaff 50%);
}

.workingDesktop__timeline-list.hover5::before {
  background-image: linear-gradient(to right, #bbff00 80%, #b7aaff 90%, #b7aaff 40%);
}

.workingDesktop__timeline-list.hover6::before {
  background-image: linear-gradient(to right, #bbff00 90%, #b7aaff 95%, #b7aaff 30%);
}/*# sourceMappingURL=WayOfWorkingDesktop.css.map */