@use 'sass:map';
@use './variables.scss' as *;

.web-design {
	&--mobile {
		display: block;

		@media (min-width: $bp-m) {
			display: none;
			
		}
	}

	&--desktop {
		display: none;

		@media (min-width: $bp-m) {
			display: flex;
			justify-content: center;
		}
	}

	&__container {
		text-align: center;
		padding-top: 30px;
		//box-shadow: $shadow;
		display: flex;
		justify-content: center;
		flex-direction: column;
		@media (min-width: $bp-xl) {
				
			display: flex;
			

		}

		&-title {
			font-family: map.get($h2, 'font-family');
			font-size: map.get($h2, 'font-size');
			color: map.get($h2, 'color');
			text-transform: uppercase;
			margin: 0 16px;
			padding-bottom: 20px;
			
			@media (min-width: $bp-m) {
				font-size: map.get($h2-desktop, 'font-size');
				//text-align: start;
				//padding-left: 80px;
			}
			@media (min-width: $bp-l) {
				font-size: map.get($h2-desktop-l, 'font-size');
				//padding: 0 50px;
				display: flex;
				justify-content: center;
				margin: 0;
			}
			@media (min-width: $bp-xl) {
				//padding: 0;
				display: flex;
				justify-content: center;
				
			
			}
			&-h2{
				@media (min-width: $bp-l) {
					padding: 0 50px;
					display: flex;
					width: 1024px;
				
				}
				@media (min-width: $bp-xl) {
					
					display: flex;
					width: 1440px;
				
				}
			}
		}

		&-text {
			font-family: map.get($paragraph, 'font-family');
			font-size: map.get($paragraph, 'font-size');
			color: map.get($paragraph, 'color');
			line-height: map.get($paragraph, 'line-height');
			background-color: $bg-purple;
			border: 1px solid $purple;
			padding: 20px 16px;

			@media (min-width: $bp-m) {
				font-size: map.get($paragraph-desktop, 'font-size');
				line-height: map.get($paragraph-desktop, 'line-height');
				text-align: start;
				padding: 20 96px;
				
			}
			@media (min-width: $bp-l) {
				font-size: 1.3rem;
				line-height: map.get($paragraph-desktop, 'line-height');
				text-align: start;
				padding: 20 0px;
				display: flex;
				justify-content: center;
				
			}

			&-paragraph{
				max-width: 1024px;
				
				display: flex;
				@media (min-width: $bp-m) {
					
					padding: 0 50px;
				}
				@media (min-width: $bp-xl) {
					max-width: 1440px;
					
				}
				
			}
		}
	}
}
