@use 'sass:map';
@use './variables.scss' as *;

.web-design {


	&__container {
		text-align: center;

		&-title {
			font-family: map.get($h2, 'font-family');
			font-size: map.get($h2, 'font-size');
			color: map.get($h2, 'color');
			text-transform: uppercase;

			@media (min-width: $bp-m) {
				font-size: map.get($h2-desktop, 'font-size');
			}
		}

		&-text {
			font-family: map.get($paragraph, 'font-family');
			font-size: map.get($paragraph, 'font-size');
			color: map.get($paragraph, 'color');
			line-height: map.get($paragraph, 'line-height');
            background-color: $bg-purple;
            border: 1px solid $purple;

			@media (min-width: $bp-m) {
				font-size: map.get($paragraph-desktop, 'font-size');
				line-height: map.get($paragraph-desktop, 'line-height');
			}
		}
	}
}
