@use 'sass:map';
@use './variables.scss' as *;

// ===========================
// WHY CHOOSE US SECTION
// ===========================

.why-choose-us-section {
  padding-top: 60px;

  @media (min-width: 1024px) {
    max-width: 904px;
  }

  @media (min-width: 1440px) {
    max-width: 1024px;
  }
}

.why-choose-us-header {
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }

  @media (min-width: 1024px) {
    margin-bottom: 5rem;
  }
}

.why-choose-us-content {

  padding: 3.75rem 1.25rem;

  @media (min-width: 768px) {
    padding: 20px 120px 0 120px;
  }

  @media (min-width: 1024px) {
   padding: 0;
   max-width: 904px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    align-items: start;

  }

  @media (min-width: 1440px) {
    max-width: 1024px;
    gap: 5rem;
  }
}

.why-choose-us-right-column {
  // display: contents;

  @media (max-width: 1023px) {
    display: block;
  }
}

.why-choose-us-image {
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;

    @media (min-width: 768px) {
      height: 140px;
    }

    @media (min-width: 1024px) {
      height: 128px;
      width: 99%;
    }
  }
}
