---

import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/partials/Footer.astro';
import '../styles/Error.scss';
import Header from '../layouts/partials/Header.astro';

---
<Layout>
	<Header />
	<main class="error">
		<h1 class="error_title">404</h1>
		<p class="error_text">Lo siento, no podemos encontrar la página que estás buscando.
        </p>
		<a href=/inicio class='error_button'>Volver al inicio</a>
	</main>
	<Footer />
</Layout>