---
import Layout from '../layouts/Layout.astro';
// import Header from '../layouts/partials/Header.astro';
import MainHome from '../layouts/partials/MainHome.astro';
import Footer from '../layouts/partials/Footer.astro';
---

<Layout title='AstracodeLAB - Diseño y desarrollo de páginas web'>
	<!-- <Header /> -->
	<div class='page-container'>
		<MainHome />
	</div>

	<Footer />
</Layout>

<style>
	.page-container {
		opacity: 0;
		animation: fade-in 0.8s ease-out forwards;
	}

	/* Animación fade-in */
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
