---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/partials/Header.astro';
import Main from '../layouts/partials/Main.astro';
import Footer from '../layouts/partials/Footer.astro';
---

<Layout title='AstracodeLAB - Diseño y desarrollo de páginas web'>
	<Header />
	<div class='page-container'>
		<Main />
	</div>

	<Footer />
</Layout>

<style>
	.page-container {
		position: relative;
		/* margin-top: 80px; Ajusta según la altura del header */
		overflow: hidden; /* Evita desbordamientos durante la animación */
		animation: slide-in 0.8s ease-out forwards;
	}

	/* Animación Slide-in */
	@keyframes slide-in {
		from {
			transform: translateX(100%); /* Comienza fuera de la pantalla */
			opacity: 0; /* Transparente al inicio */
		}
		to {
			transform: translateX(0); /* Vuelve a su posición */
			opacity: 1; /* Totalmente visible */
		}
	}
</style>
