---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/partials/Header.astro';
import Footer from '../layouts/partials/Footer.astro';
import CheckIcon from '../layouts/components/icons/CheckIcon.astro';
import CtaHero from '../layouts/components/CtaHero.astro';
---

<Layout title='AstracodeLAB - Landing page'>
	<Header />
	<section class='web-dev'>
		<div class='web-dev__hero'>
			<h1 class='web-dev__hero-title'>Landing page</h1>
			<p class='web-dev__hero-subtitle'>
				Convierte visitantes en clientes con una landing page diseñada para captar su atención y guiar sus decisiones.
			</p>
			<p class='web-dev__hero-subtitle'>
				¿Listo para aumentar tus conversiones? Ponte en contacto con nosotros y crea una landing page que impulse los
				resultados de tu negocio.
			</p>
		</div>
		<div class='web-dev__content'>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Qué es una landing page y por qué es importante?</h2>
				<p class='web-dev__content-card-text'>
					Una landing page es una página web enfocada en un único objetivo: convertir visitantes en clientes. Es ideal
					para promocionar productos, servicios o campañas específicas. A diferencia de un sitio web corporativo, una
					landing page tiene un diseño más simple y directo, enfocado exclusivamente en lograr resultados rápidos.
				</p>
			</article>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Cuándo necesitas una landing page?</h2>
				<p class='web-dev__content-card-text'>
					Una landing page es perfecta para campañas promocionales, eventos o lanzamientos. Incluso si ya tienes un
					sitio web corporativo, puedes añadir una landing page para captar nuevos clientes y redirigirlos a tu web
					principal o a una acción específica.
				</p>
			</article>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>Elementos clave de nuestras landing pages</h2>
				<p class='web-dev__content-card-text'>
					Diseñamos landing pages con todos los elementos necesarios para maximizar tus conversiones:
				</p>
				<ul class='web-dev__content-card-list'>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span>
							<strong>Diseño atractivo y claro:</strong> Capta la atención y guía al usuario hacia la acción deseada.</span
						>
					</li>

					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Call-to-actions (CTA) efectivos:</strong> Botones estratégicamente ubicados que animan al usuario
							a actuar.</span
						>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span><strong>Formularios personalizados:</strong> Recopila información de manera sencilla y rápida.</span>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span><strong>Pruebas sociales:</strong> Añade reseñas y testimonios que generen confianza.</span>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Velocidad de carga optimizada:</strong> Asegura que la página se cargue rápidamente para evitar abandonos.</span
						>
					</li>
				</ul>
			</article>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>Beneficios de una landing page para tu negocio</h2>
				<p class='web-dev__content-card-text'>
					Una landing page bien diseñada mejora significativamente tu tasa de conversión, reduciendo el costo por
					cliente potencial. Además, es una herramienta flexible y escalable que puede adaptarse a cualquier campaña o
					producto que desees promover.
				</p>
			</article>

			<div class='web-dev__content-cta'>
				<CtaHero />
			</div>
		</div>
	</section>
	<Footer />
</Layout>
