---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/partials/Header.astro';
import Footer from '../layouts/partials/Footer.astro';
import CheckIcon from '../layouts/components/icons/CheckIcon.astro';
import CtaHero from '../layouts/components/CtaHero.astro';
---

<Layout title='AstracodeLAB - Portfolios y proyectos creativos'>
	<Header />
	<section class='web-dev'>
		<div class='web-dev__hero'>
			<h1 class='web-dev__hero-title'>Portfolios y proyectos creativos personalizados</h1>
			<div class='web-dev__hero-text'>
				<p class='web-dev__hero-subtitle'>
					Destaca tu talento con un portfolio diseñado a medida. Ideal para artistas, fotógrafos, diseñadores y
					profesionales creativos que buscan una presencia en línea única y profesional.
				</p>
				<p class='web-dev__hero-subtitle'>
					¿Listo para mostrar tu trabajo al mundo? ¡Es hora de llevar tu marca personal al siguiente nivel! Agenda una
					reunión gratuita y descubre cómo podemos ayudarte a crear el portfolio perfecto para ti.
				</p>
				<div class='web-dev__content-cta web-dev__content-cta--mobile'>
					<CtaHero />
				</div>
			</div>
		</div>
		<div class='web-dev__content'>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Por qué necesitas un portfolio creativo profesional?</h2>
				<p class='web-dev__content-card-text'>
					Un portfolio online es la mejor forma de mostrar tu trabajo al mundo. No importa si eres un fotógrafo
					freelance, un diseñador gráfico o un ilustrador, contar con un sitio web profesional te permite atraer
					clientes, compartir tus proyectos y construir una marca personal sólida.
				</p>
			</article>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Qué ofrecemos en nuestros portfolios?</h2>
				<p class='web-dev__content-card-text'>
					Creamos portfolios visualmente atractivos, funcionales y optimizados para cualquier dispositivo. Estas son
					algunas de las características que podemos incluir:
				</p>
				<ul class='web-dev__content-card-list'>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span>
							<strong>Galerías de imágenes dinámicas:</strong> Exhibe tus proyectos de forma profesional y con diseño responsivo.</span
						>
					</li>

					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Sección de biografía o “Sobre mí”:</strong> Conecta con tu audiencia compartiendo tu historia profesional.</span
						>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Formularios de contacto:</strong> Facilita que potenciales clientes te contacten de forma rápida y
							sencilla.</span
						>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Integraciones con redes sociales:</strong> Muestra tu feed de Instagram, Behance u otras plataformas
							creativas directamente en tu web.</span
						>
					</li>
				</ul>
			</article>

			<!-- <div class='web-dev__content-cta web-dev__content-cta--desktop'>
				<CtaHero />
			</div> -->
		</div>
	</section>
	<section class='web-dev__content-card web-dev__content-card--last'>
		<article class='web-dev__content-card web-dev__content-card--last-item'>
			<h2 class='web-dev__content-card-title'>Beneficios de un portfolio profesional</h2>
			<p class='web-dev__content-card-text'>
				Un portfolio online no solo es una herramienta de presentación, también te posiciona como un profesional serio y
				accesible. Al contar con un diseño personalizado, aumentas tu visibilidad y generas confianza en tus clientes
				potenciales, destacándote frente a la competencia.
			</p>
		</article>
	</section>
	<Footer />
</Layout>
