---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/partials/Header.astro';
import Footer from '../layouts/partials/Footer.astro';
---

<Layout>
	<Header />
	<main class='privacy-policy'>
        <h1 class='legal-notice__title'>Política de privacidad</h1>
		
		
	</main>
	<Footer />
</Layout>
