---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/partials/Header.astro';
import Footer from '../layouts/partials/Footer.astro';
import CheckIcon from '../layouts/components/icons/CheckIcon.astro';
import CtaHero from '../layouts/components/CtaHero.astro';
---

<Layout title='AstracodeLAB - Páginas con sistemas de reservas y citas'>
	<Header />
	<section class='web-dev'>
		<div class='web-dev__hero web-dev__hero--small'>
			<h1 class='web-dev__hero-title'>Páginas con sistemas de reservas y citas</h1>
			<div class='web-dev__hero-text'>
				<p class='web-dev__hero-subtitle'>
					¿Poco tiempo para gestionar tu negocio? Deja que creemos una página web que no solo muestre tus servicios,
					sino que simplifique tus reservas y potencie tu imagen profesional. Transformamos tu tiempo en resultados.
				</p>
				<p class='web-dev__hero-subtitle'>
					¿Listo para optimizar la gestión de tu negocio? Contáctanos y descubre cómo un sistema de reservas
					personalizado puede llevar tu negocio al siguiente nivel.
				</p>
				<div class='web-dev__content-cta'>
					<CtaHero />
				</div>
			</div>
		</div>
		<div class='web-dev__content'>
			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Por qué integrar un sistema de reservas en tu web?</h2>
				<p class='web-dev__content-card-text'>
					Facilitar la reserva de citas en línea es clave para mejorar la experiencia de usuario y optimizar tu
					operativa. Ahorrarás tiempo al automatizar la gestión de reservas y atraerás al público más digital, que
					prefiere gestionar sus citas a través de internet en lugar de por teléfono. Ahora, la gestión de citas no te
					quitará tiempo: tus clientes reservarán fácilmente mientras descubren lo mejor de tu negocio. ¡No más
					interrupciones!
				</p>
			</article>

			<article class='web-dev__content-card'>
				<h2 class='web-dev__content-card-title'>¿Qué podemos implementar en tu página de reservas?</h2>
				<p class='web-dev__content-card-text'>Diseñamos páginas con funcionalidades personalizadas, como:</p>
				<ul class='web-dev__content-card-list'>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span>
							<strong>Calendario en tiempo real:</strong> Muestra la disponibilidad para que tus clientes elijan el horario
							que mejor les convenga.</span
						>
					</li>

					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Confirmaciones automáticas:</strong> Envía correos electrónicos o mensajes de confirmación al instante.</span
						>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span
							><strong>Recordatorios personalizados:</strong> Reduce cancelaciones con notificaciones automáticas.</span
						>
					</li>
					<li class='web-dev__content-card-list-item'>
						<div class='web-dev__content-card-list-item-icon'>
							<CheckIcon />
						</div>
						<span><strong>Gestión de citas:</strong> Administra todas tus reservas desde un panel intuitivo.</span>
					</li>
				</ul>
			</article>
		</div>
	</section>
	<section class='web-dev-bis'>
		<article class='web-dev__content-card'>
			<h2 class='web-dev__content-card-title'>¿Qué ocurre si ya tienes una web?</h2>
			<p class='web-dev__content-card-text'>
				Este servicio puede añadirse como una nueva funcionalidad a tu sitio existente. Si aún no tienes una web,
				diseñamos y desarrollamos una página desde cero que incluya este sistema desde el inicio, adaptado a las
				necesidades de tu negocio y a las preferencias de tu clientela.
			</p>
		</article>
		<article class='web-dev__content-card'>
			<h2 class='web-dev__content-card-title'>Ventajas de un sistema de reservas online</h2>
			<p class='web-dev__content-card-text'>
				Una página con sistema de reservas mejora la experiencia de usuario, ahorra tiempo y reduce errores en la
				gestión. Además, incrementa la captación de clientes al ofrecer una forma cómoda y moderna de interactuar con tu
				negocio. Tus clientes reservarán fácilmente, mientras tú dedicas tu tiempo a lo que realmente importa.
			</p>
		</article>
	</section>
	<Footer />
</Layout>
