---
const { href, className = '', type = 'button', ...rest } = Astro.props;
import Arrow from '../icons/Arrow.astro';
---

{
  href ? (
    <a href={href} class={className} {...rest}>
      <slot />
      {(className.includes('linkSecondary') || className.includes('linkServicesHero')) && <Arrow />}
    </a>
  ) : (
    <button type={type} class={className} {...rest}>
      <slot />
    </button>
  )
}