---
import Header from './partials/Header.astro';
import '../styles/global.scss';
import Footer from './partials/Footer.astro';

---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>Astracodelab | Diseño y desarrollo web</title>
    <meta name='description' content='AstracodeLAB | Diseño y desarrollo web' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />    
    <meta name='msvalidate.01' content='08A045B5065017F91DE8FBA3B76391FC' />
    <meta property='og:title' content='Astracodelab | Diseño y desarrollo web' />
    <meta
      property='og:description'
      content='Creación de páginas web para mejorar la visibilidad y el posicionamieto de tu marca.'
    />
    <meta property='og:image' content='/og_astracode.png' />
    <meta property='og:url' content='https://astracodelab.com/' />
    <meta name='facebook-domain-verification' content='siis4pr1xna8mdw75uoabxrpl3t3s8' />
    <meta name='generator' content={Astro.generator} />
  </head>
  <body>
    <Header />
    
    <slot />
<Footer />
  </body>
</html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
