---
import '../styles/global.scss';
import '@fontsource/ropa-sans';
import '@fontsource/konkhmer-sleokchher';
import '@fontsource-variable/raleway';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name='description' content='AstracodeLAB | Diseño y desarrollo web' />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	 :root {
		font-family: sans-serif;
	} 
	html {
		scroll-behavior: smooth;
	}
	body {
		background-image: url('../images/Astra9_1.png');
		
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;

		
	}
</style>
