---
import Buttons from '../Buttons/Buttons.astro';
import Subtitle from '../Titles/Subtitle.astro';

const { titulo, descripcion, texto } = Astro.props;
---

<div class='banner-cta'>
  <div class='banner-cta__container'>
    <Subtitle className='banner text' text={titulo} />
    <Subtitle className='banner desc' description={descripcion} />
    <Buttons className='btnPrimaryLight' text={texto} href='/contacto'>{texto}<Buttons /> </Buttons>
  </div>
</div>
