---
const { imagen, titulo, descripcion, alt = "" } = Astro.props;
---

<div class='banner-img'>
  <div class='banner-img__image-container'>
    <img src={imagen} alt={alt} class='banner-img__image' />
    <div class='banner-img__card'>
      <h3 class='banner-img__card-title'>{titulo}</h3>
      <p class='banner-img__card-description'>{descripcion}</p>
    </div>
  </div>
</div>