---
const { imagen, titulo, descripcion, alt = '' } = Astro.props;
---

<div class='banner-img' style={`background-image: url(${imagen})`}>
  <div class='banner-img__overlay'>
    <div class='banner-img__card'>
      <h3 class='banner-img__card-title'>{titulo}</h3>
      <p class='banner-img__card-description'><Fragment set:html={descripcion} /></p>
    </div>
  </div>
</div>
