---
import '../../../styles/BannerCta.scss';
import Buttons from '../Buttons/Buttons.astro';
import Subtitle from '../Titles/Subtitle.astro';

const { titulo, descripcion, texto, className = 'btnPrimaryBanner' } = Astro.props;
---

<section class='banner-cta'>
  <article class='banner-cta__container'>
    <Subtitle className='banner text' text={titulo} />
    <Subtitle className='banner desc' description={descripcion} />
    <div class='banner-cta__button'>
      <Buttons className={className} href='https://calendly.com/astracodelab' target='_blank' rel='noopener noreferrer'>
        {texto}
      </Buttons>
    </div>
  </article>
</section>
