---
import Buttons from '../Buttons/Buttons.astro';
import Subtitle from '../Titles/Subtitle.astro';

const { titulo, descripcion, texto } = Astro.props;
---

<section class='banner-cta'>
  <article class='banner-cta__container'>
    <Subtitle className='banner text' text={titulo} />
    <Subtitle className='banner desc' description={descripcion} />
    <div class='banner-cta__button'>
      <Buttons className='btnPrimaryLight' text={texto} href='/contacto'>{texto}<Buttons /> </Buttons>
    </div>
  </article>
</section>
